@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 46px !important;
}

.checkbox-ripple {
  position: relative;
  overflow: visible;
}

.checkbox-ripple::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  pointer-events: none;
}

.checkbox-ripple:hover::after {
  width: 250%;
  height: 250%;
}
