<div class="flex min-h-screen bg-gray-100">
  <app-aside></app-aside>

  <div class="flex-1 flex flex-col">
    <app-navbar></app-navbar>

    <main class="p-6 flex-1 overflow-y-auto">
      <div class="flex space-x-6 mb-6">
        <!-- Card Dinero Restante -->
        <div
          [ngClass]="[
            'bg-gradient-to-br',
            getCardColor(),
            'shadow-lg',
            'rounded-xl',
            'p-5',
            'flex',
            'flex-col',
            'items-start',
            'relative',
            'transform',
            'transition-transform',
            'duration-300',
            'hover:scale-105',
            'hover:shadow-xl'
          ]"
          style="width: 250px; height: 130px"
        >
          <fa-icon
            [icon]="['fas', 'wallet']"
            class="absolute top-3 right-3 opacity-50"
            [ngClass]="getTextColor()"
            style="font-size: 24px"
          ></fa-icon>
          <span class="text-sm font-semibold" [ngClass]="getTextColor()">
            Dinero en Cuenta
          </span>

          <!-- Mostrar los valores solo si no son cero -->
          <ng-container>
            <span
              class="text-xl font-bold mt-2"
              style="overflow-wrap: break-word; word-wrap: break-word"
              [ngClass]="getTextColor()"
            >
              {{ dineroRestante | numberFormat }} ARS
            </span>

            <span
              class="text-xl font-bold mt-1"
              style="overflow-wrap: break-word; word-wrap: break-word"
              [ngClass]="getTextColor()"
            >
              {{ dineroRestanteUSD | numberFormat }} USD
            </span>
          </ng-container>
        </div>

        <!-- Card Total de Ingresos -->
        <div
          class="bg-gradient-to-br from-blue-100 to-blue-200 shadow-lg rounded-xl p-5 flex flex-col items-start relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
          style="width: 250px; height: 130px"
        >
          <fa-icon
            [icon]="['fas', 'coins']"
            class="absolute top-3 right-3 text-blue-400 opacity-50"
            style="font-size: 24px"
          ></fa-icon>
          <span class="text-gray-700 text-sm font-semibold"
            >Total de Ingresos</span
          >
          <span
            *ngIf="totalIngresos !== 0 || totalIngresosUSD !== 0"
            class="text-xl font-bold text-blue-700 mt-2"
            style="overflow-wrap: break-word; word-wrap: break-word"
          >
            {{ totalIngresos | numberFormat }} ARS
          </span>
          <span
            *ngIf="totalIngresos !== 0 || totalIngresosUSD !== 0"
            class="text-xl font-bold text-blue-500 mt-1"
            style="overflow-wrap: break-word; word-wrap: break-word"
          >
            {{ totalIngresosUSD | numberFormat }} USD
          </span>

          <div
            *ngIf="totalIngresos === 0 && totalIngresosUSD === 0"
            class="flex items-center space-x-2 mt-2"
          >
            <fa-icon
              [icon]="['fas', 'exclamation-circle']"
              class="text-black"
            ></fa-icon>
            <span class="text-black text-sm font-medium">
              No se ingresó un sueldo este mes
            </span>
          </div>
        </div>

        <!-- Card Gastos -->
        <div
          class="bg-gradient-to-br from-gray-100 to-gray-200 shadow-lg rounded-xl p-5 flex flex-col items-start relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
          style="width: 250px; height: 130px"
        >
          <fa-icon
            [icon]="['fas', 'chart-line']"
            class="absolute top-3 right-3 text-gray-400 opacity-50"
            style="font-size: 24px"
          ></fa-icon>
          <span class="text-gray-700 text-sm font-semibold">
            Gastos de {{ options[currentIndex].toLowerCase() }}
          </span>

          <div class="mt-2">
            <ng-container *ngIf="hasExpenses(); else noExpenses">
              <ng-container
                *ngFor="let currency of getGroupedExpenses() | keyvalue"
              >
                <div class="flex items-center space-x-2">
                  <span
                    class="text-lg font-bold text-gray-700"
                    style="overflow-wrap: break-word; word-wrap: break-word"
                  >
                    <ng-container [ngSwitch]="currency.key">
                      <ng-container *ngSwitchCase="'ARS'">
                        ${{ currency.value | numberFormat }} ARS
                      </ng-container>
                      <ng-container *ngSwitchCase="'USD'">
                        ${{ currency.value | numberFormat }} USD
                      </ng-container>
                    </ng-container>
                  </span>
                </div>
              </ng-container>
            </ng-container>

            <ng-template #noExpenses>
              <div class="flex items-center space-x-2 mt-2">
                <fa-icon
                  [icon]="['fas', 'exclamation-circle']"
                  class="text-black"
                ></fa-icon>
                <span class="text-black text-sm font-medium">
                  No hay gastos {{ options[currentIndex].toLowerCase() }}
                </span>
              </div>
            </ng-template>
          </div>
        </div>

        <div
          [ngClass]="{
            'bg-blue-100 ': isDay && weatherData?.weather[0]?.main === 'Clouds',
            'bg-yellow-100': isDay && weatherData?.weather[0]?.main === 'Clear',
            'bg-gray-200': isDay && weatherData?.weather[0]?.main === 'Drizzle',
            'bg-purple-100': isDay && weatherData?.weather[0]?.main === 'Rain',
            'bg-gray-300': isDay && weatherData?.weather[0]?.main === 'Snow',
            'bg-gray-400': isDay && weatherData?.weather[0]?.main === 'Mist',
            'bg-blue-900': isNight && weatherData?.weather[0]?.main === 'Clear',
            'bg-indigo-900':
              isNight && weatherData?.weather[0]?.main === 'Clouds',
            'bg-purple-900':
              isNight && weatherData?.weather[0]?.main === 'Rain',
            'bg-gray-800': isNight && weatherData?.weather[0]?.main === 'Snow',
            'bg-gray-700':
              isNight && weatherData?.weather[0]?.main === 'Drizzle',
            'bg-gray-600': isNight && weatherData?.weather[0]?.main === 'Mist'
          }"
          class="shadow-lg hover:shadow-2xl rounded-xl p-6 flex flex-col items-center justify-center relative transform transition-transform duration-300 hover:scale-105"
          style="width: 200px; height: 130px"
        >
          <fa-icon
            [icon]="[
              'fas',
              isNight
                ? weatherData?.weather[0]?.main === 'Clear'
                  ? 'moon'
                  : weatherData?.weather[0]?.main === 'Clouds'
                  ? 'cloud-moon'
                  : weatherData?.weather[0]?.main === 'Rain'
                  ? 'cloud-moon-rain'
                  : 'smog'
                : weatherData?.weather[0]?.main === 'Clear'
                ? 'sun'
                : weatherData?.weather[0]?.main === 'Clouds'
                ? 'cloud'
                : weatherData?.weather[0]?.main === 'Rain'
                ? 'cloud-rain'
                : weatherData?.weather[0]?.main === 'Snow'
                ? 'snowflake'
                : weatherData?.weather[0]?.main === 'Drizzle'
                ? 'cloud-showers-heavy'
                : 'smog'
            ]"
            [ngStyle]="{
              color:
                isNight && weatherData?.weather[0]?.main === 'Clear'
                  ? '#FFD700'
                  : isDay && weatherData?.weather[0]?.main === 'Clear'
                  ? '#FFDA44'
                  : weatherData?.weather[0]?.main === 'Clouds'
                  ? '#B0C4DE'
                  : weatherData?.weather[0]?.main === 'Rain'
                  ? '#87CEEB'
                  : weatherData?.weather[0]?.main === 'Snow'
                  ? '#B0E0E6'
                  : weatherData?.weather[0]?.main === 'Drizzle'
                  ? '#ADD8E6'
                  : '#C0C0C0'
            }"
            class="absolute top-3 right-3 opacity-50"
            style="font-size: 24px"
          ></fa-icon>
          <span
            class="text-sm font-semibold"
            [ngStyle]="{ color: isNight ? '#F3F4F6' : '#4B5563' }"
            >Clima Actual</span
          >
          <span
            *ngIf="weatherData"
            class="text-3xl font-bold mt-2"
            [ngStyle]="{ color: isNight ? '#FFFFFF' : '#000000' }"
          >
            {{ weatherData?.main?.temp | number : "1.1-1" }}°C
          </span>
          <span
            *ngIf="weatherData"
            class="text-sm"
            [ngStyle]="{ color: isNight ? '#D1D5DB' : '#4B5563' }"
          >
            {{ weatherData?.weather[0]?.description | titlecase }}
          </span>

          <span *ngIf="!weatherData" class="text-gray-500 mt-2 text-sm">
            No se ha configurado ubicación. Configúrala en el perfil.
          </span>
        </div>
        <div
          class="bg-gradient-to-br from-blue-100 to-blue-200 shadow-lg rounded-xl p-4 flex flex-col items-start relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
          style="width: 300px; height: 130px"
        >
          <fa-icon
            [icon]="['fas', 'money-bill-wave']"
            class="absolute top-1 right-9 text-blue-400 opacity-50"
            style="font-size: 24px"
          ></fa-icon>

          <!-- Ícono de recargar -->
          <fa-icon
            [icon]="['fas', 'sync-alt']"
            class="absolute top-2 right-2 text-blue-600 cursor-pointer hover:rotate-180 transition-transform duration-500"
            style="font-size: 18px"
            (click)="reloadRates()"
          ></fa-icon>

          <span class="text-gray-800 text-sm font-semibold mb-1"
            >Cotización del Dólar</span
          >

          <!-- Spinner de carga -->
          <div
            *ngIf="isLoading"
            class="flex items-center justify-center w-full h-full"
          >
            <fa-icon
              [icon]="['fas', 'spinner']"
              class="animate-spin text-blue-600"
              style="font-size: 24px"
            ></fa-icon>
          </div>

          <!-- Contenido de cotizaciones, se muestra solo cuando no está cargando -->
          <ng-container *ngIf="!isLoading">
            <!-- Dólar Blue -->
            <div class="flex items-center w-full justify-between mt-1">
              <fa-icon
                [icon]="['fas', 'hand-holding-usd']"
                class="text-blue-600 mr-2"
              ></fa-icon>
              <span class="text-xs font-medium text-gray-800">Blue:</span>
              <span class="text-xs text-gray-700 ml-auto">
                C:
                <span class="font-semibold">{{
                  dolarBlueCompra | currency : "ARS"
                }}</span>
                | V:
                <span class="font-semibold">{{
                  dolarBlueVenta | currency : "ARS"
                }}</span>
              </span>
            </div>

            <!-- Dólar Bolsa (MEP) -->
            <div class="flex items-center w-full justify-between mt-1">
              <fa-icon
                [icon]="['fas', 'exchange-alt']"
                class="text-blue-600 mr-2"
              ></fa-icon>
              <span class="text-xs font-medium text-gray-800">MEP:</span>
              <span class="text-xs text-gray-700 ml-auto">
                C:
                <span class="font-semibold">{{
                  dolarBolsaCompra | currency : "ARS"
                }}</span>
                | V:
                <span class="font-semibold">{{
                  dolarBolsaVenta | currency : "ARS"
                }}</span>
              </span>
            </div>

            <!-- Dólar Tarjeta -->
            <div class="flex items-center w-full justify-between mt-1">
              <fa-icon
                [icon]="['fas', 'credit-card']"
                class="text-blue-600 mr-2"
              ></fa-icon>
              <span class="text-xs font-medium text-gray-800">Tarjeta:</span>
              <span class="text-xs text-gray-700 ml-auto">
                C:
                <span class="font-semibold">{{
                  dolarTarjetaCompra | currency : "ARS"
                }}</span>
                | V:
                <span class="font-semibold">{{
                  dolarTarjetaVenta | currency : "ARS"
                }}</span>
              </span>
            </div>
          </ng-container>
        </div>
      </div>

      <div
        class="bg-white p-4 rounded-lg shadow-md mb-6 flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0 mt-6"
      >
        <div
          class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4"
        >
          <div
            class="flex items-center bg-gray-100 p-2 rounded-lg space-x-2 w-full md:w-auto justify-between"
          >
            <button
              class="text-gray-500 hover:text-gray-700 focus:outline-none"
              (click)="previousOption()"
              aria-label="Anterior"
            >
              <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
            </button>
            <span class="text-gray-600 font-medium flex-1 text-center">{{
              options[currentIndex]
            }}</span>
            <button
              class="text-gray-500 hover:text-gray-700 focus:outline-none"
              (click)="nextOption()"
              aria-label="Siguiente"
            >
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </button>
          </div>
          <div class="relative w-full md:w-auto">
            <input
              type="text"
              placeholder="Nombre, proveedor o obs..."
              class="border border-gray-300 p-2 pr-10 rounded focus:outline-none w-full"
              [(ngModel)]="searchQuery"
            />
            <fa-icon
              [icon]="['fas', 'search']"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"
            ></fa-icon>
          </div>
          <ng-select
            [items]="categories"
            bindLabel="name"
            [(ngModel)]="selectedCategory"
            placeholder="Seleccione una categoría"
            class="ng-select-custom w-full md:w-auto bg-white border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            style="width: 250px"
            [notFoundText]="'Categoría no encontrada'"
          ></ng-select>
          <!-- Nuevo Toggle Switch con Íconos y Estilo Mejorado -->
        </div>
        <div
          class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-2"
        >
          <button
            class="bg-gray-200 text-gray-700 py-2 px-4 rounded-lg hover:bg-gray-300 shadow-lg transition flex items-center space-x-4"
            (click)="openModalWallet()"
          >
            <fa-icon [icon]="['fas', 'wallet']" class="text-blue-500"></fa-icon>
            <div class="h-6 w-px bg-gray-400"></div>
            <span>Billetera</span>
          </button>

          <button
            class="bg-gray-200 text-gray-700 py-2 px-4 rounded-lg hover:bg-gray-300 shadow-lg transition flex items-center space-x-4"
            (click)="openModalCategorias()"
          >
            <fa-icon
              [icon]="['fas', 'pencil-alt']"
              class="text-blue-500"
            ></fa-icon>
            <div class="h-6 w-px bg-gray-400"></div>
            <span>Categorías</span>
          </button>

          <!-- Botón de Sueldo -->
          <button
            class="bg-gray-200 text-gray-700 py-2 px-4 rounded-lg hover:bg-gray-300 shadow-lg transition flex items-center space-x-4"
            (click)="openModalIngresarSueldo()"
          >
            <fa-icon [icon]="['fas', 'wallet']" class="text-blue-500"></fa-icon>
            <div class="h-6 w-px bg-gray-400"></div>
            <span>Sueldo</span>
          </button>

          <!-- Botón de Gasto -->
          <button
            class="bg-gray-200 text-gray-700 py-2 px-4 rounded-lg hover:bg-gray-300 shadow-lg transition flex items-center space-x-4 disabled:opacity-50 disabled:cursor-not-allowed"
            (click)="addExpense()"
            [disabled]="editingIndex !== null"
          >
            <fa-icon [icon]="['fas', 'plus']" class="text-blue-500"></fa-icon>
            <div class="h-6 w-px bg-gray-400"></div>
            <span>Gasto</span>
          </button>
        </div>
      </div>
      <div class="bg-white p-4 rounded-lg shadow-md mb-6">
        <div class="flex space-x-8 items-center">
          <!-- Total registros -->
          <div class="text-left">
            <span class="text-gray-800 text-sm font-semibold">
              {{ getFilteredExpenses().length }} total
            </span>
            <span class="text-gray-500 block text-base font-medium">
              {{
                getGroupedExpenses()["ARS"] | currency : "" : "symbol" : "1.0-0"
              }}
              ARS
            </span>
            <span class="text-gray-500 block text-base font-medium">
              {{
                getGroupedExpenses()["USD"] | currency : "" : "symbol" : "1.0-0"
              }}
              USD
            </span>
          </div>

          <!-- Atrasados -->
          <div class="text-left flex flex-col">
            <span class="text-red-600 text-sm font-semibold flex items-center">
              <fa-icon
                [icon]="['fas', 'circle']"
                style="margin-right: 5px"
                class="fa-xs"
              ></fa-icon>
              {{ getCountByStatus("Vencido") }} atrasados
            </span>
            <span class="text-gray-500 block text-base font-medium">
              {{
                getTotalByStatusAndCurrency("Vencido", "ARS")
                  | currency : "" : "symbol" : "1.0-0"
              }}
              ARS
            </span>
            <span class="text-gray-500 block text-base font-medium">
              {{
                getTotalByStatusAndCurrency("Vencido", "USD")
                  | currency : "" : "symbol" : "1.0-0"
              }}
              USD
            </span>
          </div>

          <!-- Pagados -->
          <div class="text-left">
            <span class="text-green-600 text-sm font-semibold">
              {{ getCountByStatus("Pagado") }} pagados
            </span>
            <span class="text-gray-500 block text-base font-medium">
              {{
                getTotalByStatusAndCurrency("Pagado", "ARS")
                  | currency : "" : "symbol" : "1.0-0"
              }}
              ARS
            </span>
            <span class="text-gray-500 block text-base font-medium">
              {{
                getTotalByStatusAndCurrency("Pagado", "USD")
                  | currency : "" : "symbol" : "1.0-0"
              }}
              USD
            </span>
          </div>

          <!-- Por pagar -->
          <div class="text-left">
            <span class="text-yellow-600 text-sm font-semibold">
              {{ getCountByStatus("Por pagar") }} por pagar
            </span>
            <span class="text-gray-500 block text-base font-medium">
              {{
                getTotalByStatusAndCurrency("Por pagar", "ARS")
                  | currency : "" : "symbol" : "1.0-0"
              }}
              ARS
            </span>
            <span class="text-gray-500 block text-base font-medium">
              {{
                getTotalByStatusAndCurrency("Por pagar", "USD")
                  | currency : "" : "symbol" : "1.0-0"
              }}
              USD
            </span>
          </div>

          <!-- Línea separadora vertical -->
          <div
            *ngIf="showMonthlySummaryMessage"
            class="border-l border-gray-300 h-12 mx-6"
          ></div>

          <!-- Nuevo contenido a la derecha de la línea separadora -->
          <div
            *ngIf="showMonthlySummaryMessage"
            class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 rounded-lg shadow-md flex justify-between items-center"
          >
            <div class="flex items-center">
              <!-- Icono -->
              <fa-icon
                [icon]="['fas', 'check-circle']"
                class="text-blue-500 text-xl mr-3"
              ></fa-icon>

              <div>
                <h2 class="text-lg font-semibold">
                  ¡Su resumen de gastos mensual está listo!
                </h2>

                <p
                  (click)="descargarResumenMensual()"
                  class="text-sm text-blue-600 font-medium cursor-pointer hover:underline hover:text-blue-800 transition duration-300"
                >
                  Descargar resumen mensual
                </p>

                <!-- Mostrar los días restantes antes de que desaparezca -->
                <p class="text-xs text-gray-500">
                  Este mensaje desaparecerá en {{ remainingDays }} día{{
                    remainingDays === 1 ? "" : "s"
                  }}.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="haySeleccionados"
        class="bg-gray-100 rounded-lg shadow-lg transition-transform transform animate-slide-in mb-2 flex justify-between items-center px-6 py-3"
      >
        <span class="flex-1">Seleccionados: {{ countSelectedItems }}</span>
        <div class="flex space-x-2">
          <!-- Botón para marcar todos como pagos o no pagos -->
          <button
            (click)="marcarTodosComoPagos()"
            [title]="getMarcarTodosTooltip()"
            [ngClass]="getMarcarTodosButtonClass()"
            class="flex items-center justify-center py-1 px-3 text-white rounded-full transition duration-300"
          >
            <fa-icon
              [icon]="getMarcarTodosIcon()"
              [ngClass]="getMarcarTodosIconClass()"
            ></fa-icon>
          </button>

          <button
            (click)="descargarExcel()"
            title="Descargar seleccionados en Excel"
            class="flex items-center justify-center py-1 px-3 bg-green-500 text-white rounded-full hover:bg-green-600 transition duration-300"
          >
            <fa-icon [icon]="['fas', 'file-excel']"></fa-icon>
          </button>

          <button
            (click)="mantenerGastoFijo()"
            title="Fijar gasto"
            class="flex items-center justify-center py-1 px-3 bg-blue-500 text-white rounded-full hover:bg-blue-600 transition duration-300"
          >
            <fa-icon [icon]="['fas', 'calendar-plus']"></fa-icon>
          </button>

          <button
            (click)="eliminarSeleccionados()"
            title="Eliminar seleccionados"
            class="flex items-center justify-center py-1 px-3 bg-red-500 text-white rounded-full hover:bg-red-600 transition duration-300"
          >
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </div>
      </div>

      <div class="bg-gray-50 shadow-md rounded-lg">
        <div
          class="sort-controls flex items-center space-x-4 px-6 py-3 mb-4 border-b border-gray-300"
        >
          <label for="sortCriteria" class="text-lg font-medium text-gray-700">
            Ordenar por:
          </label>

          <div class="relative w-44">
            <select
              id="sortCriteria"
              [(ngModel)]="selectedSortCriteria"
              (change)="onSortCriteriaChange()"
              class="appearance-none w-full border border-gray-400 text-gray-800 py-1 px-4 rounded-md focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out"
            >
              <option value="date">Fecha a Pagar</option>
              <option value="timestamp">Fecha Ingreso</option>
            </select>

            <!-- Flecha personalizada para select -->
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path d="M5.5 8.5l4 4 4-4H5.5z" />
              </svg>
            </div>
          </div>

          <div class="flex items-center px-6 py-2">
            <button
              (click)="toggleShowAllExpenses()"
              class="relative bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:from-blue-600 hover:via-blue-700 hover:to-blue-800 text-white font-bold py-2 px-6 rounded-full shadow-lg transform transition-all duration-300 ease-in-out hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-300 focus:ring-opacity-50"
            >
              <!-- Texto dinámico con animación -->
              <span
                class="inset-0 flex justify-center items-center transition-opacity duration-300"
              >
                {{
                  showAllExpenses
                    ? "Viendo todos los gastos"
                    : "Viendo gastos de " + (options[currentIndex] | lowercase)
                }}
              </span>

              <!-- Efecto de resplandor y movimiento en hover -->
              <div
                class="absolute inset-0 opacity-0 bg-blue-400 rounded-full blur-lg transform scale-90 transition-transform duration-300 ease-in-out group-hover:opacity-100 group-hover:scale-100"
              ></div>
            </button>
          </div>
        </div>

        <table class="min-w-full table-auto">
          <thead class="bg-gray-50">
            <tr>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                <ng-container
                  *ngIf="
                    !addingExpense && editingIndex === null;
                    else showPagoText
                  "
                >
                  <button
                    (click)="togglePagoFilter()"
                    [ngClass]="getPagoFilterButtonClass()"
                    class="w-16 h-8 flex items-center justify-center text-white font-bold rounded-md focus:outline-none focus:ring-opacity-50 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
                  >
                    {{ pagoFilterState }}
                  </button>
                </ng-container>
                <ng-template #showPagoText> Pago </ng-template>
              </th>

              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                <div class="flex items-center justify-between">
                  <span>Fecha a Pagar *</span>
                  <button
                    *ngIf="!addingExpense && editingIndex === null"
                    class="text-gray-500 hover:text-blue-500 focus:outline-none ml-2"
                    (click)="toggleSortOrder()"
                    title="Ordenar por fecha"
                  >
                    <fa-icon
                      [icon]="
                        sortOrder === 'desc'
                          ? ['fas', 'sort-numeric-down']
                          : ['fas', 'sort-numeric-up']
                      "
                    ></fa-icon>
                  </button>
                  <label
                    *ngIf="addingExpense || editingIndex !== null"
                    class="flex items-center cursor-pointer ml-2"
                  >
                    <span>Hoy</span>
                    <input
                      type="checkbox"
                      [(ngModel)]="isTodayChecked"
                      (change)="toggleTodayDate()"
                      class="ml-1"
                      title="Hoy"
                    />
                  </label>
                </div>
              </th>

              <th
                *ngIf="!addingExpense && editingIndex === null"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                <span>Fecha Ingreso</span>
                <button
                  *ngIf="!addingExpense && editingIndex === null"
                  class="text-gray-500 hover:text-blue-500 focus:outline-none ml-2"
                  (click)="toggleSortOrderIngreso()"
                  title="Ordenar por fecha"
                >
                  <fa-icon
                    [icon]="
                      sortOrderIngreso === 'desc'
                        ? ['fas', 'sort-numeric-down']
                        : ['fas', 'sort-numeric-up']
                    "
                  ></fa-icon>
                </button>
              </th>

              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Valor *
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                <div class="flex flex-col space-y-2">
                  <!-- Checkbox de Tarjeta -->
                  <div class="flex items-center justify-between">
                    <span>Tarjeta</span>
                    <label
                      class="flex items-center cursor-pointer"
                      *ngIf="addingExpense || editingIndex !== null"
                    >
                      <input
                        type="checkbox"
                        [(ngModel)]="isTarjetaChecked"
                        (change)="toggleTarjeta()"
                        title="Tarjeta"
                      />
                    </label>
                  </div>

                  <div
                    *ngIf="addingExpense || editingIndex !== null"
                    class="flex items-center justify-between"
                    [ngClass]="{ 'opacity-50': !isTarjetaChecked }"
                  >
                    <span>¿Cuotas?</span>
                    <label class="flex items-center cursor-pointer">
                      <input
                        type="checkbox"
                        [(ngModel)]="isCuotasChecked"
                        [disabled]="!isTarjetaChecked"
                        (change)="toggleCuotas()"
                        title="Cuotas"
                      />
                    </label>
                  </div>
                </div>
              </th>

              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Nombre del gasto *
              </th>

              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Proveedor *
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Categoría *
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Obs
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Acciones
              </th>

              <th
                class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase"
              >
                <label
                  class="checkbox-label cursor-pointer hover:bg-blue-100 transition-colors"
                  title="Seleccionar todo"
                >
                  <input
                    type="checkbox"
                    class="checkbox-ripple"
                    (click)="toggleSelectAll()"
                    [checked]="selectAll"
                  />
                </label>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <!-- Fila editable para agregar un nuevo gasto -->
            <tr *ngIf="addingExpense" class="bg-gray-50">
              <td class="px-6 py-4 whitespace-nowrap">
                <label class="flex items-center cursor-pointer">
                  <input
                    type="checkbox"
                    class="sr-only peer"
                    [(ngModel)]="currentExpense.isPaid"
                    (change)="togglePayment(currentExpense)"
                  />
                  <div
                    [ngClass]="{
                      'bg-green-500': currentExpense.isPaid,
                      'bg-gray-200': !currentExpense.isPaid
                    }"
                    class="w-11 h-6 rounded-full transition-all duration-300 relative"
                  >
                    <div
                      [ngClass]="{
                        'translate-x-5': currentExpense.isPaid,
                        'translate-x-0': !currentExpense.isPaid
                      }"
                      class="w-5 h-5 bg-white rounded-full shadow-md transition-transform duration-300 absolute top-0.5 left-0.5"
                    ></div>
                  </div>
                </label>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="date"
                  [(ngModel)]="currentExpense.date"
                  [disabled]="isTodayChecked || isTarjetaChecked"
                  [ngClass]="{
                    'border-red-500': !currentExpense.date && isSaveAttempted
                  }"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>

              <td class="px-6 py-4 whitespace-nowrap flex space-x-2">
                <input
                  type="text"
                  [value]="
                    currentExpense.valueFormatted != undefined
                      ? currentExpense.valueFormatted
                      : ''
                  "
                  (input)="handleInput($event)"
                  [ngClass]="{
                    'border-red-500': !currentExpense.value && isSaveAttempted
                  }"
                  placeholder="0,00"
                  class="border border-gray-300 rounded px-3 py-2 w-3/4 focus:outline-none focus:ring-2 focus:ring-blue-500"
                />

                <select
                  [(ngModel)]="currentExpense.currency"
                  [ngClass]="{
                    'border-red-500':
                      !currentExpense.currency && isSaveAttempted
                  }"
                  class="border border-gray-300 rounded px-2 py-2 w-3/4 focus:outline-none focus:ring-2 focus:ring-blue-500"
                >
                  <option value="ARS">ARS</option>
                  <option value="USD">USD</option>
                </select>
              </td>

              <td class="px-6 py-4">
                <div class="flex items-center space-x-2">
                  <!-- Select de Tarjeta -->
                  <select
                    [(ngModel)]="currentExpense.cardId"
                    (change)="onCardSelectionChange()"
                    [ngClass]="{
                      'border-red-500':
                        !currentExpense.cardId && isSaveAttempted
                    }"
                    [disabled]="!isTarjetaChecked"
                    class="border border-gray-300 rounded px-2 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    [ngStyle]="{
                      width: isCuotasChecked ? '100%' : '100%'
                    }"
                  >
                    <option disabled [ngValue]="null">
                      Seleccione una tarjeta
                    </option>
                    <option
                      *ngFor="let card of cardsWithDate"
                      [ngValue]="card.id"
                    >
                      {{ getCardName(card) }}
                    </option>
                  </select>

                  <!-- Select de Cuotas (solo si Cuotas está activado) -->
                  <div *ngIf="isCuotasChecked" class="flex items-center">
                    <select
                      id="cuotas-select"
                      [(ngModel)]="numCuotas"
                      class="border border-gray-300 rounded px-2 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                      style="width: 100%"
                    >
                      <option disabled [ngValue]="null">
                        Seleccione cuotas
                      </option>
                      <option *ngFor="let cuota of cuotasArray" [value]="cuota">
                        {{ cuota }}
                      </option>
                    </select>
                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="text"
                  [(ngModel)]="currentExpense.name"
                  [ngClass]="{
                    'border-red-500': !currentExpense.name && isSaveAttempted
                  }"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="text"
                  [(ngModel)]="currentExpense.provider"
                  [ngClass]="{
                    'border-red-500':
                      !currentExpense.provider && isSaveAttempted
                  }"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>
              <td class="px-6 py-4">
                <ng-select
                  [items]="categories"
                  bindLabel="name"
                  [(ngModel)]="currentExpense.category"
                  [ngClass]="{
                    'border-red-500':
                      !currentExpense.category && isSaveAttempted
                  }"
                  placeholder="Seleccione una categoría"
                  class="ng-select-custom w-full bg-white border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                  [dropdownPosition]="'bottom'"
                ></ng-select>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="text"
                  [(ngModel)]="currentExpense.obs"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap flex space-x-2 items-center"
              >
                <button
                  class="bg-gray-500 text-white px-3 py-1 rounded hover:bg-gray-600 transition flex items-center"
                  (click)="cancelAddingExpense()"
                >
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                </button>
                <button
                  class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 transition flex items-center"
                  (click)="saveExpense()"
                >
                  <fa-icon [icon]="['fas', 'check']"></fa-icon>
                </button>
              </td>
            </tr>

            @if (isLoadingData) {
            <div class="overlay">
              <div class="spinner"></div>
            </div>
            }

            <tr *ngIf="getFilteredExpenses().length === 0">
              <td colspan="100%" class="text-center py-6">
                <div
                  class="flex flex-col items-center justify-center text-gray-500"
                >
                  <fa-icon
                    [icon]="['fas', 'info-circle']"
                    class="text-5xl text-blue-400 mb-3"
                  ></fa-icon>

                  <p class="text-xl font-semibold mb-2">
                    No hay gastos agregados
                    {{ options[currentIndex] | lowercase }}.
                  </p>

                  <p class="text-md text-gray-400 mb-4">
                    Agrega tus primeros gastos para comenzar a gestionar tus
                    finanzas.
                  </p>

                  <!-- Botón de acción para mejorar la interacción -->
                  <button
                    (click)="addExpense()"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-full transition duration-300"
                  >
                    <fa-icon
                      [icon]="['fas', 'plus-circle']"
                      class="mr-2"
                    ></fa-icon>
                    Agregar Gasto
                  </button>
                </div>
              </td>
            </tr>

            <!-- Filas de los gastos existentes -->
            <tr
              *ngFor="let item of getFilteredExpenses(); let i = index"
              [ngClass]="{
                'bg-yellow-100': item.nextMonth === true && editingIndex !== i,
                'bg-blue-100': item.isFinanceFijo === true && editingIndex !== i
              }"
            >
              <ng-container *ngIf="editingIndex !== i">
                <td class="px-6 py-4 whitespace-nowrap">
                  <label class="flex items-center cursor-pointer">
                    <input
                      type="checkbox"
                      class="sr-only peer"
                      [(ngModel)]="item.isPaid"
                      (change)="togglePayment(item)"
                    />
                    <div
                      [ngClass]="{
                        'bg-green-500': item.isPaid,
                        'bg-gray-200': !item.isPaid
                      }"
                      class="w-11 h-6 rounded-full transition-all duration-300 relative"
                    >
                      <div
                        [ngClass]="{
                          'translate-x-5': item.isPaid,
                          'translate-x-0': !item.isPaid
                        }"
                        class="w-5 h-5 bg-white rounded-full shadow-md transition-transform duration-300 absolute top-0.5 left-0.5"
                      ></div>
                    </div>
                  </label>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <!-- Estado del gasto -->
                  <span
                    [ngClass]="{
                      'text-green-600': item.status === 'Pagado',
                      'text-red-600': item.status === 'Vencido',
                      'text-yellow-600': item.status === 'Por pagar'
                    }"
                    class="text-sm font-semibold"
                  >
                    {{
                      item.status === "Pagado"
                        ? "Pagado"
                        : item.status === "Por pagar"
                        ? "Por pagar"
                        : "Venció"
                    }}
                  </span>

                  <!-- Fecha del gasto -->
                  <div class="text-xs text-gray-500">
                    {{ formatDateDisplay(item.date) }}
                  </div>

                  <!-- Separador vertical y detalles de tarjeta/cuotas -->
                  <div class="flex items-center mt-2">
                    <div *ngIf="item.cardId"></div>

                    <!-- Icono de tarjeta -->
                    <fa-icon
                      *ngIf="item.cardId"
                      [icon]="['fas', 'credit-card']"
                      class="text-blue-500"
                    ></fa-icon>

                    <div
                      *ngIf="item.cardId"
                      class="border-l border-gray-300 h-6 mx-2"
                    ></div>

                    <!-- Mostrar "Sin cuotas" o Cuota X/Y -->
                    <div *ngIf="item.cardId" class="text-sm text-gray-700">
                      <p
                        *ngIf="!item.numCuotas"
                        class="whitespace-nowrap text-gray-500 italic font-light"
                      >
                        Sin cuotas
                      </p>
                      <p
                        *ngIf="item.numCuotas"
                        class="text-left text-xs font-medium text-gray-500 uppercase"
                      >
                        Cuota: {{ item.currentCuota }}/{{ item.numCuotas }}
                      </p>
                    </div>
                  </div>
                </td>

                <td
                  *ngIf="!addingExpense && editingIndex === null"
                  class="px-6 py-4 whitespace-nowrap text-sm font-sans"
                >
                  {{ formatDateDisplayFor(item.timestamp) }}
                </td>
                <td class="px-6 py-4">
                  <ng-container *ngIf="item.currency === 'USD'">
                    <span class="mr-2 text-sm font-semibold text-gray-700"
                      >USD</span
                    >
                  </ng-container>
                  <ng-container *ngIf="item.currency === 'ARS'">
                    <span class="mr-2 text-sm font-semibold text-gray-700"
                      >ARS</span
                    >
                  </ng-container>

                  <span class="text-sm font-semibold"
                    >{{ item.value | numberFormat }}
                  </span>
                </td>

                <td *ngIf="item.cardId" class="px-6 py-4 whitespace-nowrap">
                  {{ getCardNameById(item.cardId) }}
                </td>
                <td
                  *ngIf="!item.cardId"
                  class="px-6 py-4 whitespace-nowrap text-gray-500 italic font-light"
                >
                  Vacío
                </td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.name }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.provider }}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  {{ getCategoryName(item.category) }}
                </td>
                <td *ngIf="item.obs" class="px-6 py-4 whitespace-nowrap">
                  {{ item.obs }}
                </td>
                <td
                  *ngIf="!item.obs"
                  class="px-6 py-4 whitespace-nowrap text-gray-500 italic font-light"
                >
                  Vacío
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <button
                    class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 transition mr-1"
                    (click)="editExpense(item)"
                  >
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                  </button>
                  <button
                    class="bg-gray-500 text-white px-3 py-1 rounded hover:bg-gray-600 transition"
                    (click)="deleteExpense(item)"
                  >
                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                  </button>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-center">
                  <label
                    class="checkbox-label cursor-pointer hover:bg-blue-100 transition-colors"
                    title="Seleccionar todo"
                  >
                    <input
                      type="checkbox"
                      [(ngModel)]="item.selected"
                      class="checkbox-ripple"
                      (change)="onCheckboxChange()"
                      title="Seleccionar"
                    />
                  </label>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
