<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <aside class="w-64 bg-white border-r shadow-md">
    <div class="p-4 border-b">
      <h2 class="text-lg font-bold text-gray-800">Finanzas</h2>
    </div>
    <nav class="p-4 space-y-4">
      <a
        href="#"
        class="flex items-center text-gray-600 hover:text-blue-600 transition"
      >
        <fa-icon [icon]="['fas', 'home']" class="mr-2"></fa-icon> Inicio
      </a>
      <a
        href="#"
        class="flex items-center text-gray-600 hover:text-blue-600 transition"
      >
        <fa-icon [icon]="['fas', 'chart-bar']" class="mr-2"></fa-icon>
        Estadísticas
      </a>
      <a
        href="#"
        class="flex items-center text-gray-600 hover:text-blue-600 transition"
      >
        <fa-icon [icon]="['fas', 'wallet']" class="mr-2"></fa-icon> Finanzas
      </a>
    </nav>
  </aside>

  <div class="flex-1 flex flex-col">
    <header
      class="flex items-center justify-between bg-white p-6 border-b shadow-sm"
    >
      <div class="flex items-center space-x-3">
        <h1 class="text-2xl font-bold text-gray-700">Dashboard</h1>

        <div
          class="flex items-center space-x-2 text-gray-600 text-sm border-l pl-4"
        >
          <fa-icon
            [icon]="['fas', 'calendar-days']"
            class="text-blue-500"
          ></fa-icon>
          <span class="font-medium">{{ currentDateTime }}</span>
        </div>
      </div>

      <div class="flex items-center space-x-3 relative px-4">
        <img
          [src]="userData?.profilePicture || 'profile_default.png'"
          alt="Profile Picture"
          class="w-10 h-10 rounded-full object-cover"
        />

        <div class="flex flex-col leading-tight relative">
          <div class="flex items-center justify-between">
            <span class="text-gray-800 font-medium">{{
              userData?.username
            }}</span>

            <fa-icon
              [icon]="['fas', 'chevron-down']"
              class="text-gray-500 cursor-pointer icon-menu-toggle"
              (click)="toggleUserMenu()"
            ></fa-icon>
          </div>

          <span class="text-sm text-gray-500 truncate">
            {{ userData?.email || userData?.username }}
          </span>

          <div
            *ngIf="isUserMenuOpen || isClosing"
            class="absolute mt-6 w-48 bg-white border rounded-lg shadow-lg py-2 transition-transform duration-300 ease-out origin-top-right scale-95 user-menu"
            [ngClass]="{
              'animate-fadeIn': isUserMenuOpen && !isClosing,
              'animate-fadeOut': isClosing
            }"
            (animationend)="onAnimationEnd()"
          >
            <button
              class="flex items-center w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-200"
              (click)="viewProfile()"
            >
              <fa-icon
                [icon]="['fas', 'user']"
                class="mr-2 text-gray-500"
              ></fa-icon>
              Ver Perfil
            </button>
            <button
              class="flex items-center w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-200"
              (click)="editProfile()"
            >
              <fa-icon
                [icon]="['fas', 'user-edit']"
                class="mr-2 text-gray-500"
              ></fa-icon>
              Editar Perfil
            </button>
            <button
              class="flex items-center w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-200"
              (click)="manageAccount()"
            >
              <fa-icon
                [icon]="['fas', 'cog']"
                class="mr-2 text-gray-500"
              ></fa-icon>
              Administrar Cuenta
            </button>
            <button
              class="flex items-center w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-100 transition-colors duration-200"
              (click)="logout()"
            >
              <fa-icon
                [icon]="['fas', 'sign-out-alt']"
                class="mr-2 text-red-500"
              ></fa-icon>
              Cerrar Sesión
            </button>
          </div>
        </div>
      </div>
    </header>

    <main class="p-6 flex-1 overflow-y-auto">
      <div class="flex space-x-6 mb-6">
        <!-- Card Dinero Restante -->
        <div
          class="bg-gradient-to-br from-green-100 to-green-200 shadow-lg rounded-xl p-6 flex flex-col items-start relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
          style="width: 200px; height: 130px"
        >
          <fa-icon
            [icon]="['fas', 'wallet']"
            class="absolute top-3 right-3 text-green-400 opacity-50"
            style="font-size: 24px"
          ></fa-icon>
          <span class="text-gray-700 text-sm font-semibold"
            >Dinero en Cuenta</span
          >
          <span class="text-3xl font-bold text-green-700 mt-2">{{
            dineroRestante | currency
          }}</span>
        </div>

        <!-- Card Total de Ingresos -->
        <div
          class="bg-gradient-to-br from-blue-100 to-blue-200 shadow-lg rounded-xl p-6 flex flex-col items-start relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
          style="width: 200px; height: 130px"
        >
          <fa-icon
            [icon]="['fas', 'coins']"
            class="absolute top-3 right-3 text-blue-400 opacity-50"
            style="font-size: 24px"
          ></fa-icon>
          <span class="text-gray-700 text-sm font-semibold"
            >Total de Ingresos</span
          >
          <span class="text-3xl font-bold text-blue-700 mt-2">{{
            totalIngresos | currency
          }}</span>
        </div>

        <div
          class="bg-gradient-to-br from-red-100 to-red-200 shadow-lg rounded-xl p-6 flex flex-col items-start relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
          style="width: 200px; height: 130px"
        >
          <fa-icon
            [icon]="['fas', 'chart-line']"
            class="absolute top-3 right-3 text-red-400 opacity-50"
            style="font-size: 24px"
          ></fa-icon>
          <span class="text-gray-700 text-sm font-semibold"
            >Gastos del Mes</span
          >
          <span class="text-3xl font-bold text-red-700 mt-2">
            {{ totalAmount | currency }}
          </span>
        </div>

        <div
          [ngClass]="{
            'bg-blue-100': isDay && weatherData?.weather[0]?.main === 'Clouds',
            'bg-yellow-100': isDay && weatherData?.weather[0]?.main === 'Clear',
            'bg-gray-200': isDay && weatherData?.weather[0]?.main === 'Drizzle',
            'bg-purple-100': isDay && weatherData?.weather[0]?.main === 'Rain',
            'bg-gray-300': isDay && weatherData?.weather[0]?.main === 'Snow',
            'bg-gray-400': isDay && weatherData?.weather[0]?.main === 'Mist',
            'bg-blue-900': isNight && weatherData?.weather[0]?.main === 'Clear',
            'bg-indigo-900':
              isNight && weatherData?.weather[0]?.main === 'Clouds',
            'bg-purple-900':
              isNight && weatherData?.weather[0]?.main === 'Rain',
            'bg-gray-800': isNight && weatherData?.weather[0]?.main === 'Snow',
            'bg-gray-700':
              isNight && weatherData?.weather[0]?.main === 'Drizzle',
            'bg-gray-600': isNight && weatherData?.weather[0]?.main === 'Mist'
          }"
          class="shadow-lg hover:shadow-xl rounded-xl p-6 flex flex-col items-center justify-center relative transform transition-transform duration-300 hover:scale-105"
          style="width: 200px; height: 130px"
        >
          <fa-icon
            [icon]="[
              'fas',
              isNight
                ? weatherData?.weather[0]?.main === 'Clear'
                  ? 'moon'
                  : weatherData?.weather[0]?.main === 'Clouds'
                  ? 'cloud-moon'
                  : weatherData?.weather[0]?.main === 'Rain'
                  ? 'cloud-moon-rain'
                  : 'smog'
                : weatherData?.weather[0]?.main === 'Clear'
                ? 'sun'
                : weatherData?.weather[0]?.main === 'Clouds'
                ? 'cloud'
                : weatherData?.weather[0]?.main === 'Rain'
                ? 'cloud-rain'
                : weatherData?.weather[0]?.main === 'Snow'
                ? 'snowflake'
                : weatherData?.weather[0]?.main === 'Drizzle'
                ? 'cloud-showers-heavy'
                : 'smog'
            ]"
            [ngStyle]="{
              color:
                isNight && weatherData?.weather[0]?.main === 'Clear'
                  ? '#FFD700'
                  : isDay && weatherData?.weather[0]?.main === 'Clear'
                  ? '#FFDA44'
                  : weatherData?.weather[0]?.main === 'Clouds'
                  ? '#B0C4DE'
                  : weatherData?.weather[0]?.main === 'Rain'
                  ? '#87CEEB'
                  : weatherData?.weather[0]?.main === 'Snow'
                  ? '#B0E0E6'
                  : weatherData?.weather[0]?.main === 'Drizzle'
                  ? '#ADD8E6'
                  : '#C0C0C0'
            }"
            class="absolute top-3 right-3 opacity-50"
            style="font-size: 24px"
          ></fa-icon>
          <span
            class="text-sm font-semibold"
            [ngStyle]="{ color: isNight ? '#F3F4F6' : '#4B5563' }"
            >Clima Actual</span
          >
          <span
            class="text-3xl font-bold mt-2"
            [ngStyle]="{ color: isNight ? '#FFFFFF' : '#000000' }"
          >
            {{ weatherData?.main?.temp | number : "1.1-1" }}°C
          </span>
          <span
            class="text-sm"
            [ngStyle]="{ color: isNight ? '#D1D5DB' : '#4B5563' }"
          >
            {{ weatherData?.weather[0]?.description | titlecase }}
          </span>
        </div>
        <div
          class="bg-gradient-to-br from-blue-100 to-blue-200 shadow-lg rounded-xl p-4 flex flex-col items-start relative transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
          style="width: 300px; height: 130px"
        >
          <fa-icon
            [icon]="['fas', 'money-bill-wave']"
            class="absolute top-1 right-9 text-blue-400 opacity-50"
            style="font-size: 24px"
          ></fa-icon>

          <!-- Ícono de recargar -->
          <fa-icon
            [icon]="['fas', 'sync-alt']"
            class="absolute top-2 right-2 text-blue-600 cursor-pointer hover:rotate-180 transition-transform duration-500"
            style="font-size: 18px"
            (click)="reloadRates()"
          ></fa-icon>

          <span class="text-gray-800 text-sm font-semibold mb-1"
            >Cotización del Dólar</span
          >

          <!-- Spinner de carga -->
          <div
            *ngIf="isLoading"
            class="flex items-center justify-center w-full h-full"
          >
            <fa-icon
              [icon]="['fas', 'spinner']"
              class="animate-spin text-blue-600"
              style="font-size: 24px"
            ></fa-icon>
          </div>

          <!-- Contenido de cotizaciones, se muestra solo cuando no está cargando -->
          <ng-container *ngIf="!isLoading">
            <!-- Dólar Blue -->
            <div class="flex items-center w-full justify-between mt-1">
              <fa-icon
                [icon]="['fas', 'hand-holding-usd']"
                class="text-blue-600 mr-2"
              ></fa-icon>
              <span class="text-xs font-medium text-gray-800">Blue:</span>
              <span class="text-xs text-gray-700 ml-auto">
                C:
                <span class="font-semibold">{{
                  dolarBlueCompra | currency : "ARS"
                }}</span>
                | V:
                <span class="font-semibold">{{
                  dolarBlueVenta | currency : "ARS"
                }}</span>
              </span>
            </div>

            <!-- Dólar Bolsa (MEP) -->
            <div class="flex items-center w-full justify-between mt-1">
              <fa-icon
                [icon]="['fas', 'exchange-alt']"
                class="text-blue-600 mr-2"
              ></fa-icon>
              <span class="text-xs font-medium text-gray-800">MEP:</span>
              <span class="text-xs text-gray-700 ml-auto">
                C:
                <span class="font-semibold">{{
                  dolarBolsaCompra | currency : "ARS"
                }}</span>
                | V:
                <span class="font-semibold">{{
                  dolarBolsaVenta | currency : "ARS"
                }}</span>
              </span>
            </div>

            <!-- Dólar Tarjeta -->
            <div class="flex items-center w-full justify-between mt-1">
              <fa-icon
                [icon]="['fas', 'credit-card']"
                class="text-blue-600 mr-2"
              ></fa-icon>
              <span class="text-xs font-medium text-gray-800">Tarjeta:</span>
              <span class="text-xs text-gray-700 ml-auto">
                C:
                <span class="font-semibold">{{
                  dolarTarjetaCompra | currency : "ARS"
                }}</span>
                | V:
                <span class="font-semibold">{{
                  dolarTarjetaVenta | currency : "ARS"
                }}</span>
              </span>
            </div>
          </ng-container>
        </div>
      </div>

      <div
        class="bg-white p-4 rounded-lg shadow-md mb-6 flex items-center justify-between mt-6"
      >
        <div class="flex items-center space-x-4">
          <div
            class="flex items-center bg-gray-100 p-2 rounded-lg space-x-2"
            style="width: 15rem; height: 3rem; justify-content: space-between"
          >
            <button
              class="text-gray-500 hover:text-gray-700 focus:outline-none"
              (click)="previousOption()"
              aria-label="Anterior"
            >
              <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
            </button>

            <span class="text-gray-600 font-medium flex-1 text-center">
              {{ options[currentIndex] }}
            </span>

            <button
              class="text-gray-500 hover:text-gray-700 focus:outline-none"
              (click)="nextOption()"
              aria-label="Siguiente"
            >
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </button>
          </div>

          <div class="relative">
            <input
              type="text"
              placeholder="Nombre, proveedor o obs..."
              class="border border-gray-300 p-2 pr-10 rounded focus:outline-none"
              style="height: 3rem; width: 100%"
              [(ngModel)]="searchQuery"
            />
            <fa-icon
              [icon]="['fas', 'search']"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"
            ></fa-icon>
          </div>

          <button class="" style="height: 3rem">
            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
            <span>Filtro</span>
          </button>
        </div>

        <div class="flex space-x-2">
          <button
            class="bg-red-400 text-white py-2 px-4 rounded-lg hover:bg-red-500 transition flex items-center space-x-2"
            (click)="openModal()"
          >
            <fa-icon
              [icon]="['fas', 'pencil-alt']"
              class="text-white"
            ></fa-icon>
            <span>Editar categorías</span>
          </button>
          <button
            class="bg-blue-400 text-white py-2 px-4 rounded-lg hover:bg-blue-500 transition flex items-center space-x-2"
          >
            <fa-icon [icon]="['fas', 'wallet']"></fa-icon>
            <span>Ingresar sueldo</span>
          </button>

          <button
            class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 transition flex items-center space-x-2"
            (click)="addExpense()"
          >
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            <span>Gasto</span>
          </button>
        </div>
      </div>
      <div class="bg-white p-4 rounded-lg shadow-md mb-6">
        <div class="flex space-x-8 items-center">
          <div class="text-left">
            <span class="text-gray-800 text-sm font-semibold"
              >{{ filteredFinanceItems.length }} total</span
            >
            <span class="text-gray-500 block text-base font-medium">{{
              totalAmount | currency
            }}</span>
          </div>
          <div class="text-left flex flex-col">
            <span class="text-red-600 text-sm font-semibold flex items-center">
              <fa-icon
                [icon]="['fas', 'circle']"
                style="margin-right: 5px"
                class="fa-xs"
              ></fa-icon>
              {{ vencidosCount }} atrasados
            </span>
            <span class="text-gray-500 block text-base font-medium">{{
              totalVencidos | currency
            }}</span>
          </div>
          <div class="text-left">
            <span class="text-green-600 text-sm font-semibold"
              >{{ pagadosCount }} pagados</span
            >
            <span class="text-gray-500 block text-base font-medium">{{
              totalPagados | currency
            }}</span>
          </div>
          <div class="text-left">
            <span class="text-yellow-600 text-sm font-semibold"
              >{{ porPagarCount }} por pagar</span
            >
            <span class="text-gray-500 block text-base font-medium">{{
              totalPorPagar | currency
            }}</span>
          </div>
        </div>
      </div>

      <!-- Tabla de gastos -->
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full table-auto">
          <thead class="bg-gray-50">
            <tr>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Pago
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Fecha
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Valor
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Nombre del gasto
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Proveedor
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Categoría
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Obs.
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Acciones
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <!-- Nueva fila editable -->
            <tr *ngIf="addingExpense" class="bg-gray-50">
              <td class="px-6 py-4 whitespace-nowrap">
                <label class="flex items-center cursor-pointer">
                  <input
                    type="checkbox"
                    class="sr-only peer"
                    [(ngModel)]="newExpense.isPaid"
                  />
                  <div
                    [ngClass]="{
                      'bg-green-500': newExpense.isPaid,
                      'bg-gray-200': !newExpense.isPaid
                    }"
                    class="w-11 h-6 rounded-full transition-all duration-300 relative"
                  >
                    <div
                      [ngClass]="{
                        'translate-x-5': newExpense.isPaid,
                        'translate-x-0': !newExpense.isPaid
                      }"
                      class="w-5 h-5 bg-white rounded-full shadow-md transition-transform duration-300 absolute top-0.5 left-0.5"
                    ></div>
                  </div>
                </label>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="date"
                  [(ngModel)]="newExpense.date"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="text"
                  [(ngModel)]="newExpense.value"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="text"
                  [(ngModel)]="newExpense.name"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="text"
                  [(ngModel)]="newExpense.provider"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <ng-select
                  [items]="categories"
                  bindLabel="name"
                  [(ngModel)]="newExpense.category"
                  placeholder="Seleccione una categoría"
                  [addTag]="true"
                  addTagText="Agregar categoría"
                  (add)="addCategory($event)"
                  class="ng-select-custom w-full bg-white border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                >
                </ng-select>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <input
                  type="text"
                  [(ngModel)]="newExpense.obs"
                  class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap flex space-x-2 items-center"
              >
                <button
                  class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition flex items-center"
                  (click)="cancelAddingExpense()"
                >
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                </button>
                <button
                  class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 transition flex items-center"
                  (click)="saveExpense()"
                >
                  <fa-icon [icon]="['fas', 'check']"></fa-icon>
                </button>
              </td>
            </tr>

            <tr *ngIf="filteredFinanceItems.length === 0 && !addingExpense">
              <td colspan="8" class="px-6 py-4 text-center">
                <div class="flex items-center justify-center text-gray-500">
                  <fa-icon
                    [icon]="['fas', 'exclamation-circle']"
                    class="mr-2"
                  ></fa-icon>
                  No hay gastos registrados.
                </div>
              </td>
            </tr>

            <!-- Fila para cada gasto existente -->
            <tr *ngFor="let item of filteredFinanceItems">
              <td class="px-6 py-4 whitespace-nowrap">
                <label class="flex items-center cursor-pointer">
                  <input
                    type="checkbox"
                    class="sr-only peer"
                    [(ngModel)]="item.isPaid"
                    (change)="togglePayment(item)"
                  />
                  <div
                    [ngClass]="{
                      'bg-green-500': item.isPaid,
                      'bg-gray-200': !item.isPaid
                    }"
                    class="w-11 h-6 rounded-full transition-all duration-300 relative"
                  >
                    <div
                      [ngClass]="{
                        'translate-x-5': item.isPaid,
                        'translate-x-0': !item.isPaid
                      }"
                      class="w-5 h-5 bg-white rounded-full shadow-md transition-transform duration-300 absolute top-0.5 left-0.5"
                    ></div>
                  </div>
                </label>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  [ngClass]="{
                    'text-green-600': item.status === 'Pagado',
                    'text-red-600': item.status === 'Vencido'
                  }"
                  class="text-sm font-semibold"
                >
                  {{ item.status === "Pagado" ? "Pagado" : "Venció" }}
                </span>
                <div class="text-xs text-gray-500">
                  {{ item.date | date : "dd/MM/yyyy" }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap flex items-center">
                <ng-container *ngIf="item.currency === 'USD'">
                  <span class="mr-2 text-sm font-semibold text-gray-700"
                    >USD</span
                  >
                </ng-container>
                <ng-container *ngIf="item.currency === 'ARS'">
                  <span class="mr-2 text-sm font-semibold text-gray-700"
                    >ARS</span
                  >
                </ng-container>
                <ng-container *ngIf="item.currency === 'EUR'">
                  <span class="mr-2 text-sm font-semibold text-gray-700"
                    >EUR</span
                  >
                </ng-container>
                <span class="text-sm font-semibold">{{ item.value }}</span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.name }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.provider }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.category }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.obs }}</td>
              <td
                class="px-6 py-4 whitespace-nowrap flex space-x-2 items-center"
              >
                <button
                  class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 transition flex items-center"
                  (click)="editExpense(item)"
                >
                  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                </button>

                <div
                  *ngIf="showNotification"
                  class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-4 bg-yellow-500 text-white py-3 px-6 rounded-lg shadow-lg transition-transform duration-500 flex items-center space-x-2"
                >
                  <fa-icon
                    [icon]="['fas', 'info-circle']"
                    class="text-white text-lg"
                  ></fa-icon>
                  <span
                    >Se ha enviado el gasto "{{ deletedExpenseName }}" a la
                    papelera temporal.</span
                  >
                </div>

                <button
                  class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition flex items-center"
                  (click)="deleteExpense(item)"
                >
                  <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
