<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <aside class="w-64 bg-white border-r shadow-md">
    <div class="p-4 border-b">
      <h2 class="text-lg font-bold text-gray-800">Finanzas</h2>
    </div>
    <nav class="p-4 space-y-4">
      <a
        href="#"
        class="flex items-center text-gray-600 hover:text-blue-600 transition"
      >
        <i class="fas fa-home mr-2"></i> Inicio
      </a>
      <a
        href="#"
        class="flex items-center text-gray-600 hover:text-blue-600 transition"
      >
        <i class="fas fa-chart-bar mr-2"></i> Estadísticas
      </a>
      <a
        href="#"
        class="flex items-center text-gray-600 hover:text-blue-600 transition"
      >
        <i class="fas fa-wallet mr-2"></i> Finanzas
      </a>
    </nav>
  </aside>

  <div class="flex-1 flex flex-col">
    <header
      class="flex items-center justify-between bg-white p-6 border-b shadow-sm"
    >
      <div class="flex items-center space-x-3">
        <h1 class="text-2xl font-bold text-gray-700">Dashboard</h1>
      </div>
      <div class="flex items-center space-x-3 relative px-4">
        <img
          [src]="userData?.profilePicture || 'default-image-url.png'"
          alt="Profile Picture"
          class="w-10 h-10 rounded-full object-cover"
        />
        <div class="flex flex-col leading-tight">
          <div class="flex items-center justify-between">
            <span class="text-gray-800 font-medium">
              {{ userData?.username }}
            </span>

            <fa-icon
              [icon]="['fas', 'chevron-down']"
              class="text-gray-500 cursor-pointer"
            ></fa-icon>
          </div>

          <span class="text-sm text-gray-500 truncate">
            {{ userData?.email || userData?.username }}
          </span>
        </div>
        <!-- <button
          (click)="logout()"
          class="mt-2 bg-blue-100 text-blue-600 hover:bg-blue-200 hover:text-blue-700 py-1 px-3 rounded-full transition-colors duration-300 shadow-sm flex items-center space-x-2"
        >
          <fa-icon
            [icon]="['fas', 'sign-out-alt']"
            class="w-4 h-4"
            style="display: flex"
          ></fa-icon>
          <span>Logout</span>
        </button> -->
      </div>
    </header>

    <main class="p-6 flex-1 overflow-y-auto">
      <div class="flex justify-between items-center mb-6">
        <div>
          <button
            class="bg-green-500 text-white px-4 py-2 rounded-full opacity-50"
          >
            Gastos
          </button>
        </div>
        <div class="flex space-x-4">
          <input
            type="text"
            placeholder="Buscar..."
            class="px-4 py-2 border rounded-lg"
          />
          <button class="bg-gray-200 px-4 py-2 rounded-lg">Filtro</button>
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full table-auto">
          <thead class="bg-gray-50">
            <tr>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Pago
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Fecha
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Valor
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Nombre del gasto
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Proveedor
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Categoría
              </th>
              <th
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Obs.
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let item of financeItems">
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  [ngClass]="{
                    'bg-green-100 text-green-800': item.status === 'pagado',
                    'bg-red-100 text-red-800': item.status === 'vencido'
                  }"
                  class="px-2 py-1 rounded-full text-xs font-semibold"
                >
                  {{ item.status }}
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.date }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.value }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.name }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.provider }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.category }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ item.obs }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
