@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 46px !important; /* Ajusta la altura según sea necesario */
}
