<div
  class="relative min-h-screen flex flex-col justify-center items-center bg-gradient-to-br from-blue-200 via-blue-300 to-blue-100 overflow-hidden"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-blue-50 via-blue-200 to-blue-100 opacity-70"
  ></div>
  @if (errorMessage){
  <div>{{ errorMessage }}</div>
  } @if (isLoading) {
  <div class="overlay">
    <div class="spinner"></div>
  </div>
  }
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="relative z-10 bg-white p-8 rounded-lg shadow-xl w-full max-w-md hover:shadow-2xl transition-shadow duration-300"
  >
    <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
      Registrarse
    </h2>
    <div class="mb-5">
      <label for="user" class="block text-sm font-medium text-gray-600 mb-2"
        >Usuario</label
      >
      <input
        id="user"
        name="user"
        type="text"
        class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition-all duration-200"
        placeholder="Ingresa tu usuario"
        formControlName="username"
        required
      />
    </div>
    <div class="mb-5">
      <label for="user" class="block text-sm font-medium text-gray-600 mb-2"
        >Email</label
      >
      <input
        id="email"
        name="email"
        type="text"
        class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition-all duration-200"
        placeholder="Ingresa tu email"
        formControlName="email"
        required
      />
    </div>
    <div class="mb-6">
      <label for="password" class="block text-sm font-medium text-gray-600 mb-2"
        >Contraseña</label
      >
      <input
        id="password"
        name="password"
        type="password"
        class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition-all duration-200"
        placeholder="Ingresa tu contraseña"
        formControlName="password"
        required
      />
    </div>
    <button
      type="submit"
      class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-lg transition-colors duration-300 focus:outline-none focus:ring-4 focus:ring-blue-300"
    >
      Registrarse
    </button>
    <button
      (click)="registerWithGoogle()"
      class="w-full flex items-center justify-center bg-white border border-gray-300 hover:bg-gray-100 text-gray-700 font-semibold py-3 rounded-lg transition-colors duration-300 focus:outline-none focus:ring-4 focus:ring-gray-300 mt-4"
    >
      <img
        src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
        alt="Google"
        class="w-6 h-6 mr-2"
      />
      Registrarse con Google
    </button>

    <div class="text-center mt-4">
      <a
        href="/login"
        class="text-sm text-blue-500 hover:text-blue-700 transition-colors duration-300"
      >
        ¿Ya tenés cuenta? Iniciá sesión
      </a>
    </div>
  </form>
</div>
