.particles {
  position: absolute;
  top: -40px; /* Posición por encima de la barra */
  right: -20px; /* Justo en la punta de la barra */
  width: 60px; /* Ajusta el ancho para que las partículas salgan del borde derecho */
  height: 60px;
  pointer-events: none; /* Evitar interacción con el mouse */
}

.particles::before,
.particles::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: yellow;
  border-radius: 50%;
  animation: fly 0.8s ease-out infinite;
}

.particles::before {
  top: 0;
  left: 50%;
  animation-delay: 0.1s;
}

.particles::after {
  bottom: 0;
  right: 50%;
  animation-delay: 0.3s;
}

@keyframes fly {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(40px, -40px) scale(2); /* Hacia afuera */
    opacity: 0;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animación para el fondo */
@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.wave {
  position: absolute;
  left: 0%;
  width: 500%;
  bottom: 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg")
    repeat-x;
  background-size: 50% 100%;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.wave.wave1 {
  opacity: 0.5;
}

.wave.wave2 {
  opacity: 0.5;
  animation-direction: reverse;
}

@keyframes wave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
