<div class="flex h-screen bg-gray-800">
  <aside class="w-34 bg-gray-800 text-white border-r">
    <nav class="py-6 space-y-2">
      <!-- Inicio -->
      <a
        [routerLink]="'/dashboard'"
        routerLinkActive="active"
        class="group flex flex-col items-center text-white transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 mb-2 mr-2 ml-2"
      >
        <fa-icon
          [icon]="['fas', 'home']"
          class="mb-2 group-hover:text-blue-500"
        ></fa-icon>
        <span>Inicio</span>
      </a>

      <!-- Estadísticas -->
      <a
        [routerLink]="'/estadisticas'"
        routerLinkActive="active"
        class="group flex flex-col items-center text-white transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 m-2 py-4"
      >
        <fa-icon
          [icon]="['fas', 'chart-bar']"
          class="mb-2 group-hover:text-blue-500"
        ></fa-icon>
        <span>Estadísticas</span>
      </a>

      <!-- Finanzas -->
      <a
        [routerLink]="'/ahorros'"
        routerLinkActive="active"
        class="group flex flex-col items-center text-white transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 m-2 py-4"
      >
        <fa-icon
          [icon]="['fas', 'wallet']"
          class="mb-2 group-hover:text-blue-500"
        ></fa-icon>
        <span>Ahorros</span>
      </a>

      <a
        [routerLink]="'/novedades'"
        routerLinkActive="active"
        class="group flex flex-col items-center text-white transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 m-2 py-4"
      >
        <fa-icon
          [icon]="['fas', 'bell']"
          class="mb-2 group-hover:text-blue-500"
        ></fa-icon>
        <span>Novedades</span>
      </a>

      <!-- Papelera Temporal -->
      <a
        [routerLink]="'/papelera-temporal'"
        routerLinkActive="active"
        class="group flex flex-col items-center text-white transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 m-2 py-4"
      >
        <fa-icon
          [icon]="['fas', 'trash-alt']"
          class="mb-2 group-hover:text-blue-500"
        ></fa-icon>
        <span>Papelera</span>
      </a>
    </nav>
  </aside>
</div>
