<div class="flex h-full" [ngStyle]="{ 'background-color': backgroundColor }">
  <aside class="w-34 text-white border-r">
    <nav class="py-6 space-y-2">
      <!-- Inicio -->
      <a
        [routerLink]="'/dashboard'"
        routerLinkActive="active"
        [ngClass]="{ active: isActive('/dashboard') }"
        class="group flex flex-col items-center transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 mb-2 mr-2 ml-2"
        [ngStyle]="{ color: '#ffffff' }"
      >
        <fa-icon
          [icon]="['fas', 'home']"
          class="mb-2"
          [ngStyle]="{ color: '#ffffff' }"
        ></fa-icon>
        <span>Inicio</span>
      </a>

      <!-- Estadísticas -->
      <a
        [routerLink]="'/estadisticas'"
        routerLinkActive="active"
        [ngClass]="{ active: isActive('/estadisticas') }"
        class="group flex flex-col items-center transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 m-2 py-4"
        [ngStyle]="{ color: '#ffffff' }"
      >
        <fa-icon
          [icon]="['fas', 'chart-bar']"
          class="mb-2"
          [ngStyle]="{ color: '#ffffff' }"
        ></fa-icon>
        <span>Estadísticas</span>
      </a>

      <!-- Finanzas -->
      <a
        [routerLink]="'/ahorros'"
        routerLinkActive="active"
        [ngClass]="{ active: isActive('/ahorros') }"
        class="group flex flex-col items-center transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 m-2 py-4"
        [ngStyle]="{ color: '#ffffff' }"
      >
        <fa-icon
          [icon]="['fas', 'wallet']"
          class="mb-2"
          [ngStyle]="{ color: '#ffffff' }"
        ></fa-icon>
        <span>Ahorros</span>
      </a>

      <!-- Novedades -->
      <a
        [routerLink]="'/novedades'"
        routerLinkActive="active"
        [ngClass]="{ active: isActive('/novedades') }"
        class="group flex flex-col items-center transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 m-2 py-4"
        [ngStyle]="{ color: '#ffffff' }"
      >
        <fa-icon
          [icon]="['fas', 'bell']"
          class="mb-2"
          [ngStyle]="{ color: '#ffffff' }"
        ></fa-icon>
        <span>Novedades</span>
      </a>

      <!-- Papelera Temporal -->
      <a
        [routerLink]="'/papelera-temporal'"
        routerLinkActive="active"
        [ngClass]="{ active: isActive('/papelera-temporal') }"
        class="group flex flex-col items-center transition cursor-pointer hover:bg-gray-700 rounded-lg p-2 m-2 py-4"
        [ngStyle]="{ color: '#ffffff' }"
      >
        <fa-icon
          [icon]="['fas', 'trash-alt']"
          class="mb-2"
          [ngStyle]="{ color: '#ffffff' }"
        ></fa-icon>
        <span>Papelera</span>
      </a>
    </nav>
  </aside>
</div>
