<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
  rel="stylesheet"
/>

<style>
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(70px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-up {
    animation: slideUp 0.55s ease-out forwards;
  }
</style>

<div
  class="relative min-h-screen flex flex-col justify-center items-center bg-gradient-to-br from-blue-200 via-blue-300 to-blue-100 overflow-hidden"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-blue-50 via-blue-200 to-blue-100 opacity-70"
  ></div>

  <h1
    class="relative z-10 text-5xl font-bold text-gray-700 mb-6 opacity-80 drop-shadow-md animate-slide-up"
    style="font-family: 'Montserrat', serif"
  >
    El Calculetas
  </h1>

  @if (isLoading) {
  <div class="overlay">
    <div class="spinner"></div>
  </div>
  }

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="relative z-10 bg-white p-8 rounded-lg shadow-xl w-full max-w-md hover:shadow-2xl transition-shadow duration-300"
  >
    @if (errorMessage) {
    <div
      class="relative z-10 flex items-center bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4 animate-slide-up shadow-md"
      role="alert"
    >
      <fa-icon
        [icon]="['fas', 'exclamation-triangle']"
        class="text-red-500 mr-3"
      ></fa-icon>
      <span class="block sm:inline">{{ errorMessage }}</span>
    </div>
    }
    <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
      Iniciar Sesión
    </h2>
    <div class="mb-5">
      <label for="email" class="block text-sm font-medium text-gray-600 mb-2"
        >Email</label
      >
      <input
        id="email"
        name="email"
        type="text"
        class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition-all duration-200"
        placeholder="Ingresa tu email"
        formControlName="email"
        required
      />
    </div>
    <div class="mb-6 relative">
      <label
        for="password"
        class="block text-sm font-medium text-gray-600 mb-2"
      >
        Contraseña
      </label>
      <input
        id="password"
        name="password"
        [type]="showPassword ? 'text' : 'password'"
        class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition-all duration-200"
        placeholder="Ingresa tu contraseña"
        formControlName="password"
        required
      />
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="absolute right-3 top-1/2 transform text-gray-600 focus:outline-none"
      >
        <fa-icon
          [icon]="showPassword ? ['fas', 'eye-slash'] : ['fas', 'eye']"
          class="w-5 h-5"
        ></fa-icon>
      </button>
    </div>
    <button
      type="submit"
      class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 rounded-lg transition-colors duration-300 focus:outline-none focus:ring-4 focus:ring-blue-300"
    >
      Ingresar
    </button>
    <div class="flex items-center mt-4">
      <input
        type="checkbox"
        id="keepLoggedIn"
        [checked]="keepLoggedIn"
        (change)="toggleKeepLoggedIn($event)"
        class="h-4 w-4 text-blue-500 focus:ring-blue-400 border-gray-300 rounded"
      />
      <label for="keepLoggedIn" class="ml-2 text-sm text-gray-700"
        >Mantener sesión iniciada</label
      >
    </div>
    <button
      (click)="loginWithGoogle()"
      class="w-full flex items-center justify-center bg-white border border-gray-300 hover:bg-gray-100 text-gray-700 font-semibold py-3 rounded-lg transition-colors duration-300 focus:outline-none focus:ring-4 focus:ring-gray-300 mt-4"
      [disabled]="isLoading"
    >
      <ng-container *ngIf="!isLoading; else loading">
        <img
          src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
          alt="Google"
          class="w-6 h-6 mr-2"
        />
        Iniciar sesión con Google
      </ng-container>
      <ng-template #loading>
        <i class="fas fa-spinner fa-spin mr-2"></i> Cargando...
      </ng-template>
    </button>
    <div class="text-center mt-4">
      <a
        href="/reset-password"
        class="text-sm text-blue-500 hover:text-blue-700 transition-colors duration-300"
      >
        ¿Olvidaste tu contraseña?
      </a>
    </div>
    <div class="text-center mt-4">
      <a
        href="/register"
        class="text-sm text-blue-500 hover:text-blue-700 transition-colors duration-300"
      >
        ¿No tenés cuenta? Regístrate
      </a>
    </div>
  </form>
</div>
