<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
  [ngClass]="{ hidden: !openModal }"
>
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full relative">
    <!-- Close button -->
    <button
      class="close-button bg-gray-200 text-gray-700 rounded-full py-1 px-3 hover:bg-gray-300"
      (click)="closeModal()"
    >
      X
    </button>

    <!-- Wallet -->
    <div class="wallet relative">
      <div
        class="card"
        *ngFor="let card of cards"
        [id]="card.id"
        [ngStyle]="{
          bottom: card.bottom,
          background: card.background,
          'z-index': card.zIndex
        }"
        (click)="animateCard(card.id)"
      >
        <!-- Card Logo -->
        <img
          id="visa"
          src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png"
        />

        <!-- Checkmark Icon -->
        <fa-icon
          *ngIf="selectedCardId === card.id"
          [icon]="['fas', 'check']"
          class="checkmark-icon"
          (click)="closeCard(card); $event.stopPropagation()"
        ></fa-icon>

        <div class="chip"></div>

        <ng-container *ngIf="selectedCardId === card.id">
          <!-- Date Picker -->
          <h1>Configuración de la Tarjeta</h1>

          <!-- Input para el nombre de la tarjeta -->
          <input
            type="text"
            [(ngModel)]="card.name"
            placeholder="Nombre de la tarjeta"
            (click)="$event.stopPropagation()"
            class="card-name-input"
          />

          <!-- Day and Month Selectors -->
          <div class="date-selectors">
            <select
              [(ngModel)]="card.selectedDay"
              (click)="$event.stopPropagation()"
            >
              <option [value]="null">Día</option>
              <option *ngFor="let day of days" [value]="day">{{ day }}</option>
            </select>
            <select
              [(ngModel)]="card.selectedMonth"
              (click)="$event.stopPropagation()"
            >
              <option [value]="null">Mes</option>
              <option *ngFor="let month of months" [value]="month.value">
                {{ month.name }}
              </option>
            </select>
          </div>
        </ng-container>
      </div>

      <div class="department" id="one"></div>
      <div class="department" id="two"></div>
      <div class="department" id="three"></div>
      <div class="department" id="four"></div>
    </div>
  </div>
</div>
