.wallet {
  position: absolute;
  display: block;
  width: 450px;
  height: 340px;
  background: #444;
  border-radius: 15px;
  box-shadow: 0px 0px 120px rgba(40, 40, 40, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  position: absolute;
  display: block;
  z-index: 200;
  width: 60px;
  bottom: 40px;
  left: 40px;
}

/* ----- Departments ----- */

.department {
  position: absolute;
  display: block;
  width: 90%;
  background: #444;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 1px dashed rgba(100, 100, 100, 1);
}

#one {
  bottom: 0;
  height: 170px;
  z-index: 100;
}

#two {
  bottom: 50px;
  height: 170px;
  z-index: 50;
}

#three {
  bottom: 100px;
  height: 170px;
  z-index: 0;
}

/* ----- Cards ----- */

.card {
  position: absolute;
  display: block;
  width: 80%;
  height: 210px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 90;
  bottom: 0;
  border-radius: 10px;
  transition: bottom 0.3s ease; /* Transición suave al cambiar el valor de bottom */
}

#visa {
  position: absolute;
  display: block;
  width: 60px;
  top: 12px;
  right: 50px; /* Adjusted to make space for the checkmark */
}

.chip {
  position: absolute;
  display: block;
  width: 50px;
  height: 40px;
  background: #d9c798;
  border-radius: 5px;
  top: 35px;
  left: 35px;
}

.card h1 {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: "Oswald";
  font-weight: 300;
}

.card h2 {
  display: inline-block;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  margin: 0;
  width: 30%;
  margin: 0px 0px 0px 50px;
}

.card p {
  display: inline-block;
  font-family: "Lato";
  font-weight: 900;
  font-size: 12px;
  color: #fff;
  margin: 0;
  width: 30%;
  margin: 15px 0px 0px 50px;
}

#card1 {
  background: #7533ff;
}

#card2 {
  background: #ff473b;
  z-index: 40;
}

#card3 {
  background: #5bb6ff;
  z-index: -10;
}

.custom-modal-class {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1); /* Fondo blanco para el modal */
  border-radius: 20px;
  padding: 20px;
}

/* Estilos para el fondo oscuro */
.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
}

.card input[type="date"] {
  display: block;
  margin: 20px auto; /* Centers the input */
  padding: 8px;
  width: 70%; /* Adjust width as needed */
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  border-radius: 5px;
  text-align: center;
  color: #000; /* Text color */
}

/* Adjust the date picker elements to match the card style */
.card input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(
    1
  ); /* Invert the color to make it visible on dark backgrounds */
}

/* Style the heading above the date input */

.checkmark-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

.checkmark-icon:hover {
  color: #00ff00; /* Optional: Change color on hover */
}

/* Style for the date selectors */
.date-selectors {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.date-selectors select {
  margin: 0 5px;
  padding: 8px;
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  text-align: center;
  color: #000;
}

.date-selectors select:focus {
  outline: none;
}

/* Adjust the date picker elements to match the card style */
.card select {
  -webkit-appearance: none; /* Remove default styling */
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><path fill="none" stroke="%23000" stroke-width="1.5" d="M1 1l4 3 4-3"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px 5px;
}

/* Style the heading above the date input */
.card h1 {
  text-align: center;
  margin-top: 60px; /* Adjust margin as needed */
  font-size: 18px;
  color: #fff;
}

.close-button {
  position: absolute;
  top: -140px;
  right: 5px;
  z-index: 1000;
}
