<div class="flex h-screen bg-gray-100">
  <app-aside></app-aside>

  <div class="flex-1 flex flex-col">
    <app-navbar></app-navbar>

    <!-- Contenido de página en construcción -->
    <div
      class="flex-1 flex flex-col items-center justify-center p-6 bg-gray-100"
    >
      <div class="text-center mb-6 max-w-md mx-auto">
        <!-- Imagen de construcción adjunta -->
        <div class="mb-4">
          <img
            src="work_in_progress.png"
            alt="Construcción"
            class="w-24 mx-auto"
          />
        </div>
        <!-- Título y mensaje -->
        <h1 class="text-4xl font-bold text-gray-800 mb-2">
          Página en Construcción
        </h1>
        <p class="text-gray-600 mb-6 leading-snug">
          Estamos construyendo algo increíble. ¡Volvé pronto para ver las
          novedades!
        </p>
        <!-- Mensaje de agradecimiento -->
        <p class="text-gray-600 font-semibold mb-6">
          ¡Gracias por tu paciencia!
        </p>

        <!-- Botón de Dashboard -->
        <button
          [routerLink]="'/dashboard'"
          routerLinkActive="active"
          class="bg-blue-600 text-white py-2 px-6 rounded-lg shadow hover:bg-blue-700 transition"
        >
          Ir al Dashboard
        </button>
      </div>

      <!-- Iconos sociales -->
      <div class="flex space-x-3 text-gray-600 mt-6">
        <a
          href="#"
          class="hover:text-blue-500 transition"
          title="¡Síguenos en Facebook!"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="#"
          class="hover:text-blue-500 transition"
          title="¡Síguenos en Twitter!"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="#"
          class="hover:text-blue-500 transition"
          title="¡Síguenos en Instagram!"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="#"
          class="hover:text-blue-500 transition"
          title="¡Síguenos en LinkedIn!"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</div>
