<div class="flex h-screen bg-gray-100">
  <app-aside></app-aside>

  <div class="flex-1 flex flex-col">
    <app-navbar></app-navbar>

    <div class="flex-1 flex items-center justify-center py-8 px-4">
      <div class="max-w-lg w-full bg-gray-50 rounded-lg shadow-lg">
        <!-- Contenedor superior con fondo personalizable extendido -->
        <div
          class="relative rounded-t-lg px-6 pt-6 pb-6 text-white"
          [ngStyle]="{ 'background-color': backgroundColor }"
        >
          <!-- Botón para cambiar color -->
          <button
            class="absolute top-2 right-2 bg-gray-700 hover:bg-gray-600 rounded-full w-8 h-8 transition"
            title="Cambiar color"
            (click)="openColorPicker()"
          >
            <fa-icon [icon]="['fas', 'palette']" class="text-white"></fa-icon>
          </button>

          <!-- Dialog Modal para seleccionar color -->
          <dialog #colorPickerDialog class="rounded-lg shadow-lg">
            <app-color-picker
              [initialColor]="backgroundColor"
              (colorSelected)="changeColor($event)"
            ></app-color-picker>
          </dialog>

          <!-- Foto de perfil y nombre -->
          <div class="flex flex-col items-center space-y-4">
            <div class="relative">
              <img
                class="h-32 w-32 rounded-full border-4 border-white"
                [src]="userPhoto"
                alt="Foto de perfil"
              />
              <button
                class="absolute bottom-0 right-0 bg-gray-600 text-white rounded-full p-2 w-8 h-8 flex items-center justify-center hover:bg-gray-700 border-2 border-white"
                (click)="openPhotoEditor()"
              >
                <fa-icon [icon]="['fas', 'camera']" class="text-xs"></fa-icon>
              </button>
            </div>
            <div class="text-center">
              <h2 class="text-3xl font-bold">{{ userName }}</h2>
              <p>{{ userLocation }}</p>
            </div>
          </div>
        </div>

        <!-- Información personal -->
        <div class="px-8 py-6 space-y-6">
          <div class="flex flex-col items-center space-y-2">
            <label class="block text-gray-600 text-center">Nombre</label>
            <input
              type="text"
              class="mt-1 p-2 w-full border rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-400"
              [value]="userName"
              placeholder="Nuevo nombre"
            />
          </div>
          <div class="flex flex-col items-center space-y-2">
            <label class="block text-gray-600 text-center">Email</label>
            <input
              type="email"
              class="mt-1 p-2 w-full border rounded bg-gray-100 text-gray-500 opacity-50 focus:outline-none focus:ring-2 focus:ring-gray-400 cursor-not-allowed"
              [value]="userEmail"
              placeholder="Nuevo email"
              readonly
            />
          </div>
        </div>

        <!-- Espacio entre secciones -->
        <div class="h-8"></div>

        <!-- Seguridad -->
        <div class="px-8 pb-6 space-y-6">
          <div class="flex flex-col items-center space-y-2">
            <label class="block text-gray-600 text-center"
              >Contraseña Actual</label
            >
            <input
              type="password"
              class="mt-1 p-2 w-full border rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-400"
              placeholder="Contraseña actual"
            />
          </div>
          <div class="flex flex-col items-center space-y-2">
            <label class="block text-gray-600 text-center"
              >Nueva Contraseña</label
            >
            <input
              type="password"
              class="mt-1 p-2 w-full border rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-400"
              placeholder="Nueva contraseña"
            />
          </div>
        </div>

        <!-- Botones de acción -->
        <div class="flex justify-end space-x-4 px-8 pb-6">
          <button
            class="text-white px-4 py-2 rounded transition"
            [ngStyle]="{
              'background-color': cancelButtonColor,
              'border-color': cancelButtonColor
            }"
            (mouseover)="cancelButtonColor = cancelButtonHoverColor"
            (mouseleave)="cancelButtonColor = lightenColor(backgroundColor, 10)"
          >
            Cancelar
          </button>
          <button
            class="text-white px-4 py-2 rounded transition"
            [ngStyle]="{
              'background-color': saveButtonColor,
              'border-color': saveButtonColor
            }"
            (mouseover)="saveButtonColor = saveButtonHoverColor"
            (mouseleave)="saveButtonColor = lightenColor(backgroundColor, 10)"
          >
            Guardar Cambios
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para el editor de foto -->
<dialog
  #photoEditorDialog
  class="rounded-lg shadow-lg p-6 bg-white max-w-xl mx-auto"
>
  <app-photo-editor
    [imageUrl]="userPhoto"
    [reset]="resetEditor"
    (imageCropped)="onImageCropped($event)"
    (closeEditor)="closePhotoEditor()"
  ></app-photo-editor>
</dialog>
