<div class="flex min-h-screen bg-gray-100">
  <app-aside></app-aside>

  <div class="flex-1 flex flex-col">
    <app-navbar></app-navbar>

    <main class="p-6 flex-1 overflow-y-auto">
      <div *ngIf="isLoadingData" class="overlay">
        <div class="spinner"></div>
      </div>

      <div class="p-8">
        <div class="flex justify-between items-center mb-8">
          <h1 class="text-3xl font-bold">Estadísticas</h1>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-md">
            <p class="text-sm text-gray-500">Total Gastos (ARS)</p>
            <h2 class="text-2xl font-bold text-red-500">
              {{ totalGastosARS | currency : "ARS" }}
            </h2>
          </div>
          <div class="bg-white p-6 rounded-lg shadow-md">
            <p class="text-sm text-gray-500">Total Gastos (USD)</p>
            <h2 class="text-2xl font-bold text-green-500">
              {{ totalGastosUSD | currency : "USD" }}
            </h2>
          </div>
        </div>

        <div class="flex gap-6 mb-8">
          <!-- Gráfico de ARS -->
          <div
            [style.display]="hasExpensesARS() ? 'block' : 'none'"
            [ngClass]="{
              'w-full': !hasExpensesUSD(),
              'lg:w-1/2': hasExpensesUSD()
            }"
            class="flex justify-center bg-white p-6 rounded-lg shadow-md"
          >
            <canvas id="doughnutChartARS" width="450" height="450"></canvas>
          </div>

          <!-- Gráfico de USD -->
          <div
            [style.display]="hasExpensesUSD() ? 'block' : 'none'"
            [ngClass]="{
              'w-full': !hasExpensesARS(),
              'lg:w-1/2': hasExpensesARS()
            }"
            class="flex justify-center bg-white p-6 rounded-lg shadow-md"
          >
            <canvas id="doughnutChartUSD" width="450" height="450"></canvas>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
