<div class="flex min-h-screen bg-gray-100">
  <app-aside></app-aside>

  <div class="flex-1 flex flex-col">
    <app-navbar></app-navbar>

    <main class="p-6 flex-1 overflow-y-auto">
      <div *ngIf="isLoadingData" class="overlay">
        <div class="spinner"></div>
      </div>

      <div class="p-8">
        <div class="flex justify-between items-center mb-8">
          <fa-icon
            [icon]="['fas', 'chevron-left']"
            (click)="previousMonth()"
            class="cursor-pointer fa-2x"
          ></fa-icon>
          <h1 class="text-4xl font-bold">
            {{ translateMonthToSpanish(currentMonth) }}
          </h1>
          <fa-icon
            [icon]="['fas', 'chevron-right']"
            (click)="nextMonth()"
            class="cursor-pointer fa-2x"
          ></fa-icon>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-md">
            <p class="text-sm text-gray-500">Total Gastos (ARS)</p>
            <h2 class="text-2xl font-bold text-red-500">
              {{ totalGastosARS | currency : "ARS" }}
            </h2>
          </div>
          <div class="bg-white p-6 rounded-lg shadow-md">
            <p class="text-sm text-gray-500">Total Gastos (USD)</p>
            <h2 class="text-2xl font-bold text-green-500">
              {{ totalGastosUSD | currency : "USD" }}
            </h2>
          </div>
        </div>

        <div class="flex gap-6 mb-8">
          <!-- Gráfico de ARS -->
          <div
            *ngIf="hasExpensesARS(); else noExpensesARS"
            [ngClass]="{
              'w-full': !hasExpensesUSD(),
              'lg:w-1/2': hasExpensesUSD()
            }"
            class="flex justify-center bg-white p-6 rounded-lg shadow-md"
          >
            <canvas id="doughnutChartARS" width="450" height="450"></canvas>
          </div>
          <ng-template #noExpensesARS>
            <div
              class="flex justify-center items-center w-full bg-white p-6 rounded-lg shadow-md"
            >
              <p class="text-gray-500 text-lg">No hay gastos este mes</p>
            </div>
          </ng-template>

          <!-- Gráfico de USD -->
          <div
            *ngIf="hasExpensesUSD(); else noExpensesUSD"
            [ngClass]="{
              'w-full': !hasExpensesARS(),
              'lg:w-1/2': hasExpensesARS()
            }"
            class="flex justify-center bg-white p-6 rounded-lg shadow-md"
          >
            <canvas id="doughnutChartUSD" width="450" height="450"></canvas>
          </div>
          <ng-template #noExpensesUSD>
            <div
              class="flex justify-center items-center w-full bg-white p-6 rounded-lg shadow-md"
            >
              <p class="text-gray-500 text-lg">No hay gastos este mes</p>
            </div>
          </ng-template>
        </div>
      </div>
    </main>
  </div>
</div>
