<!-- Pantalla de Novedades estilo chat -->
<div class="flex h-screen bg-gray-100">
  <app-aside></app-aside>

  <div class="flex-1 flex flex-col">
    <app-navbar></app-navbar>

    <main class="p-6 flex-1 overflow-y-hidden flex flex-col">
      <!-- Contenedor de chat con scroll interno -->
      <div
        #scrollContainer
        class="flex-1 overflow-y-auto bg-gray-200 p-4 rounded-lg shadow-md"
      >
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div
            class="flex items-start mb-6"
            [attr.data-message-id]="messageId_1"
          >
            <img
              [src]="userProfilePicture"
              alt="Foto del Admin"
              class="w-12 h-12 rounded-full mr-3 object-cover"
            />
            <div
              class="bg-white shadow-lg rounded-lg p-4 flex-1 relative message-container border border-gray-300"
            >
              <div class="flex justify-between items-center">
                <span class="text-blue-500 font-semibold">Joaquim 😊</span>
              </div>
              <p class="mt-2 text-gray-500 text-sm italic">
                <fa-icon [icon]="['fas', 'clock']" class="mr-2"></fa-icon>
                Última actualización: v1.2.0 - 02/10/2024 - 18:58hs
              </p>
              <div class="mt-4">
                <div class="flex items-center mb-2">
                  <fa-icon
                    [icon]="['fas', 'check-circle']"
                    class="text-green-500 mr-2"
                  ></fa-icon>
                  <h3 class="text-xl font-semibold text-gray-700">
                    v1.2.0 - Actualización
                  </h3>
                </div>
                <ul class="list-disc list-inside text-gray-600 space-y-4">
                  <li>
                    <fa-icon
                      [icon]="['fas', 'bug']"
                      class="text-red-500 mr-2"
                    ></fa-icon>
                    Corrección de bugs al cambiar estado de un pago en una
                    pantalla que no sea "Este mes".
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'bug']"
                      class="text-red-500 mr-2"
                    ></fa-icon>
                    Corrección de bug de estado en gasto (pagado/por
                    pagar/vencido) cuando se edita un pago.
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'coins']"
                      class="text-yellow-500 mr-3"
                    ></fa-icon>
                    Se agrega funcionalidad para agregar centavos a sueldo.
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'calendar-alt']"
                      class="text-blue-500 mr-3"
                    ></fa-icon>
                    Se agrega fecha de modificación al ingresar un sueldo.
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'calculator']"
                      class="text-purple-500 mr-3"
                    ></fa-icon>
                    Se pueden agregar decimales a gastos.
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'file-invoice-dollar']"
                      class="text-blue-500 mr-3"
                    ></fa-icon>
                    Se arregla formateo de números para mostrarlo en formato
                    es-AR.
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'desktop']"
                      class="text-green-500 mr-3"
                    ></fa-icon>
                    Se agrega la nueva pantalla de "Novedades".
                  </li>
                </ul>
              </div>

              <hr class="styled-hr mt-4" />

              <div class="flex items-center mt-4 justify-start">
                <fa-icon
                  [icon]="['fas', 'smile']"
                  class="text-gray-500 cursor-pointer"
                  (click)="toggleReactionMenu('message_1')"
                ></fa-icon>
              </div>

              <div
                *ngIf="showReactionMenu_1"
                class="absolute bottom-10 left-0 bg-white shadow-lg rounded-lg p-2 flex space-x-4"
              >
                <span
                  *ngFor="let reaction of reactions"
                  class="reaction-emoji"
                  (click)="addReaction(reaction, messageId_1)"
                >
                  {{ reaction.emoji }}
                </span>
              </div>

              <!-- Mostrando las reacciones actuales -->
              <div
                *ngIf="selectedReactions_1.length > 0"
                class="flex space-x-2 mt-4"
              >
                <span
                  *ngFor="let reaction of selectedReactions_1"
                  class="reaction-container"
                >
                  <div
                    class="border border-blue-300 bg-blue-100 text-blue-800 rounded px-2 py-1"
                    [title]="getReactionTitle(reaction)"
                    (click)="addOrRemoveReaction(reaction, messageId_1)"
                    [ngClass]="{
                      'ring-2 ring-blue-500 bg-blue-400 text-white':
                        isReactionSelectedByUser(reaction),
                      'ring-0': !isReactionSelectedByUser(reaction)
                    }"
                  >
                    {{ reaction.emoji }} {{ reaction.count }}
                  </div>
                </span>
              </div>
            </div>
          </div>

          <!-- Mensaje del admin para v1.2.1 -->
          <div
            class="flex items-start mb-6"
            [attr.data-message-id]="messageId_2"
          >
            <img
              [src]="userProfilePicture"
              alt="Foto del Admin"
              class="w-12 h-12 rounded-full mr-3 object-cover"
            />
            <div
              class="bg-white border border-gray-300 shadow-lg rounded-lg p-4 flex-1 relative message-container"
            >
              <div class="flex justify-between items-center">
                <span class="text-blue-500 font-semibold">Joaquim 😊</span>
              </div>
              <p class="mt-2 text-gray-500 text-sm italic">
                <fa-icon [icon]="['fas', 'clock']" class="mr-2"></fa-icon>
                Última actualización: v1.2.1 - 03/10/2024 - 00:30hs
              </p>
              <div class="mt-4">
                <div class="flex items-center mb-2">
                  <fa-icon
                    [icon]="['fas', 'check-circle']"
                    class="text-green-500 mr-2"
                  ></fa-icon>
                  <h3 class="text-xl font-semibold text-gray-700">
                    v1.2.1 - Actualización
                  </h3>
                </div>
                <ul class="list-disc list-inside text-gray-600 space-y-4">
                  <li>
                    <fa-icon
                      [icon]="['fas', 'bug']"
                      class="text-red-500 mr-2"
                    ></fa-icon>
                    Se arregla bug que causaba que un gasto del día 01 no se
                    mostrara en "Este mes".
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'bug']"
                      class="text-red-500 mr-2"
                    ></fa-icon>
                    Se arregla bug en los valores de gastos (antes se mostraba
                    "1000,00" en lugar de "1.000,00").
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'bug']"
                      class="text-red-500 mr-2"
                    ></fa-icon>
                    Se arregla bug que mostraba "undefined" en el campo de valor
                    al agregar un gasto nuevo.
                  </li>
                  <li>
                    <fa-icon
                      [icon]="['fas', 'smile']"
                      class="text-blue-500 mr-3"
                    ></fa-icon>
                    Se agrega reacciones a mensajes de Novedades.
                  </li>
                </ul>
              </div>

              <hr class="styled-hr mt-4" />

              <div class="flex items-center mt-4 justify-start">
                <fa-icon
                  [icon]="['fas', 'smile']"
                  class="text-gray-500 cursor-pointer"
                  (click)="toggleReactionMenu('message_2')"
                ></fa-icon>
              </div>

              <div
                *ngIf="showReactionMenu_2"
                class="absolute bottom-10 left-0 bg-white shadow-lg rounded-lg p-2 flex space-x-4"
              >
                <span
                  *ngFor="let reaction of reactions"
                  class="reaction-emoji"
                  (click)="addReaction(reaction, messageId_2)"
                >
                  {{ reaction.emoji }}
                </span>
              </div>

              <!-- Mostrando las reacciones actuales -->
              <div
                *ngIf="selectedReactions_2.length > 0"
                class="flex space-x-2 mt-4"
              >
                <span
                  *ngFor="let reaction of selectedReactions_2"
                  class="reaction-container"
                >
                  <div
                    class="border border-blue-300 bg-blue-100 text-blue-800 rounded px-2 py-1"
                    [title]="getReactionTitle(reaction)"
                    (click)="addOrRemoveReaction(reaction, messageId_2)"
                    [ngClass]="{
                      'ring-2 ring-blue-500 bg-blue-400 text-white':
                        isReactionSelectedByUser(reaction),
                      'ring-0': !isReactionSelectedByUser(reaction)
                    }"
                  >
                    {{ reaction.emoji }} {{ reaction.count }}
                  </div>
                </span>
              </div>
            </div>
          </div>

          <!-- Mensaje del admin para v1.2.2 -->
          <div
            class="flex items-start mb-6"
            [attr.data-message-id]="messageId_3"
          >
            <img
              [src]="userProfilePicture"
              alt="Foto del Admin"
              class="w-12 h-12 rounded-full mr-3 object-cover"
            />
            <div
              class="bg-white border border-gray-300 shadow-lg rounded-lg p-4 flex-1 relative message-container"
            >
              <div class="flex justify-between items-center">
                <span class="text-blue-500 font-semibold">Joaquim 😊</span>
              </div>
              <p class="mt-2 text-gray-500 text-sm italic">
                <fa-icon [icon]="['fas', 'clock']" class="mr-2"></fa-icon>
                Última actualización: v1.2.2 - 03/10/2024 - 09:30hs
              </p>
              <div class="mt-4">
                <div class="flex items-center mb-2">
                  <fa-icon
                    [icon]="['fas', 'check-circle']"
                    class="text-green-500 mr-2"
                  ></fa-icon>
                  <h3 class="text-xl font-semibold text-gray-700">
                    v1.2.2 - Actualización
                  </h3>
                </div>
                <ul class="list-disc list-inside text-gray-600 space-y-4">
                  <li>
                    <fa-icon
                      [icon]="['fas', 'bug']"
                      class="text-red-500 mr-2"
                    ></fa-icon>
                    Se arregla bug que causaba que los gastos del día 01 del mes
                    no se mostrara en <span class="text-gray-800">"Total" </span
                    ><span class="text-red-600">"Atrasados" </span
                    ><span class="text-green-600"> "Pagados" </span
                    ><span class="text-yellow-600">"Por Pagar"</span>.
                  </li>
                </ul>
              </div>

              <hr class="styled-hr mt-4" />

              <div class="flex items-center mt-4 justify-start">
                <fa-icon
                  [icon]="['fas', 'smile']"
                  class="text-gray-500 cursor-pointer"
                  (click)="toggleReactionMenu('message_3')"
                ></fa-icon>
              </div>

              <div
                *ngIf="showReactionMenu_3"
                class="absolute bottom-10 left-0 bg-white shadow-lg rounded-lg p-2 flex space-x-4"
              >
                <span
                  *ngFor="let reaction of reactions"
                  class="reaction-emoji"
                  (click)="addReaction(reaction, messageId_3)"
                >
                  {{ reaction.emoji }}
                </span>
              </div>

              <!-- Mostrando las reacciones actuales -->
              <div
                *ngIf="selectedReactions_3.length > 0"
                class="flex space-x-2 mt-4"
              >
                <span
                  *ngFor="let reaction of selectedReactions_3"
                  class="reaction-container"
                >
                  <div
                    class="border border-blue-300 bg-blue-100 text-blue-800 rounded px-2 py-1"
                    [title]="getReactionTitle(reaction)"
                    (click)="addOrRemoveReaction(reaction, messageId_3)"
                    [ngClass]="{
                      'ring-2 ring-blue-500 bg-blue-400 text-white':
                        isReactionSelectedByUser(reaction),
                      'ring-0': !isReactionSelectedByUser(reaction)
                    }"
                  >
                    {{ reaction.emoji }} {{ reaction.count }}
                  </div>
                </span>
              </div>
            </div>
          </div>

          <!-- Mensaje del admin para v1.2.3 -->
          <div
            class="flex items-start mb-6"
            [attr.data-message-id]="messageId_4"
          >
            <img
              [src]="userProfilePicture"
              alt="Foto del Admin"
              class="w-12 h-12 rounded-full mr-3 object-cover"
            />
            <div
              class="bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500 border border-gray-300 shadow-lg rounded-lg p-4 flex-1 relative message-container-msj-4"
            >
              <div class="flex justify-between items-center">
                <span class="text-gray-50 font-semibold">Joaquim 😊</span>
              </div>
              <p class="mt-2 text-gray-200 text-sm italic">
                <fa-icon
                  [icon]="['fas', 'clock']"
                  class="text-white mr-2"
                ></fa-icon>
                Última actualización: v1.2.3 - 04/10/2024 - 12:00hs
              </p>
              <div class="mt-4">
                <div class="flex items-center mb-2">
                  <fa-icon
                    [icon]="['fas', 'check-circle']"
                    class="text-gray-200 mr-2"
                  ></fa-icon>

                  <h3
                    class="text-xl font-semibold text-white flex items-center"
                  >
                    <span
                      class="inline-flex items-center px-2 py-1 bg-opacity-40 bg-white text-black text-base font-bold rounded-lg backdrop-blur-lg shadow-md border border-white hover:bg-opacity-60 transition-transform transform hover:scale-105"
                    >
                      v1.2.3 - Actualización Actual
                    </span>
                  </h3>
                </div>
                <ul class="list-disc list-inside text-white space-y-4">
                  <li>
                    <fa-icon
                      [icon]="['fas', 'plus-circle']"
                      class="text-gray-200 mr-3"
                    ></fa-icon>

                    Se agregó funcionalidad para que el usuario pueda tener
                    múltiples reacciones.
                  </li>
                </ul>
              </div>

              <hr class="styled-hr mt-4" />

              <div class="flex items-center mt-4 justify-start">
                <fa-icon
                  [icon]="['fas', 'smile']"
                  class="text-white cursor-pointer"
                  (click)="toggleReactionMenu('message_4')"
                ></fa-icon>
              </div>

              <div
                *ngIf="showReactionMenu_4"
                class="absolute bottom-10 left-0 bg-white shadow-lg rounded-lg p-2 flex space-x-4"
              >
                <span
                  *ngFor="let reaction of reactions"
                  class="reaction-emoji"
                  (click)="addReaction(reaction, messageId_4)"
                >
                  {{ reaction.emoji }}
                </span>
              </div>

              <!-- Mostrando las reacciones actuales -->
              <div
                *ngIf="selectedReactions_4.length > 0"
                class="flex space-x-2 mt-4"
              >
                <span
                  *ngFor="let reaction of selectedReactions_4"
                  class="reaction-container"
                >
                  <div
                    class="border border-blue-300 bg-blue-100 text-blue-800 rounded px-2 py-1"
                    [title]="getReactionTitle(reaction)"
                    (click)="addOrRemoveReaction(reaction, messageId_4)"
                    [ngClass]="{
                      'ring-2 ring-blue-500 bg-blue-400 text-white':
                        isReactionSelectedByUser(reaction),
                      'ring-0': !isReactionSelectedByUser(reaction)
                    }"
                  >
                    {{ reaction.emoji }} {{ reaction.count }}
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
