.reaction-menu {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 10px;
  z-index: 100;
}

.reaction-menu span {
  cursor: pointer;
}

.selected-reactions {
  margin-top: 10px;
}

.styled-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #cfcfcf, #f0f0f0);
  margin-top: 12px;
  margin-bottom: 12px;
}

.reaction-emoji {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.reaction-emoji:hover {
  transform: scale(1.2);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6c7074;
  border-radius: 10px;
  border: 1px solid #424547;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6c7074;
}

.message-container {
  position: relative;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.message-container::before {
  content: "";
  position: absolute;
  top: 10px; /* Ajusta esto según tu necesidad */
  left: -10px; /* Esto ajusta el piquito más cerca de la imagen */
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white; /* Color de fondo del contenedor */
}

.reaction-container {
  cursor: pointer; /* Cambia el cursor a un puntero cuando haces hover */
}

.reaction-container:hover {
  outline: none; /* Asegura que no haya ninguna línea o borde titilante */
}
