<!-- Pantalla de Novedades -->
<div class="flex h-screen bg-gray-100">
  <app-aside></app-aside>

  <div class="flex-1 flex flex-col">
    <app-navbar></app-navbar>

    <main class="p-6 flex-1 overflow-y-auto">
      <div class="bg-gray-100 min-h-screen py-4">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="text-center">
            <h1 class="text-5xl font-extrabold text-gray-900">Novedades</h1>
            <p class="mt-4 text-lg text-gray-500 italic">
              <fa-icon
                [icon]="['fas', 'clock']"
                class="text-blue-500"
              ></fa-icon>
              Última actualización: Versión 1.2.0 - 02/10/2024 - 18:58hs
            </p>
          </div>

          <div class="mt-10">
            <div class="bg-white shadow-xl rounded-lg p-8 md:p-12">
              <div class="flex items-center mb-6">
                <fa-icon
                  [icon]="['fas', 'check-circle']"
                  class="text-green-500 mr-4 text-2xl"
                ></fa-icon>
                <h2 class="text-3xl font-bold text-gray-700">
                  v1.2.0 - Update
                </h2>
              </div>

              <ul class="list-disc list-inside text-gray-600 space-y-4">
                <li class="flex items-start">
                  <fa-icon
                    [icon]="['fas', 'bug']"
                    class="text-red-500 mr-3"
                  ></fa-icon>
                  <span class="text-lg">
                    Corrección de bugs al cambiar estado de un pago en una
                    pantalla que no sea "Este mes".
                  </span>
                </li>
                <li class="flex items-start">
                  <fa-icon
                    [icon]="['fas', 'bug']"
                    class="text-red-500 mr-3"
                  ></fa-icon>
                  <span class="text-lg">
                    Corrección de bug de estado en gasto (pagado/por
                    pagar/vencido) cuando se edita un pago.
                  </span>
                </li>
                <li class="flex items-start">
                  <fa-icon
                    [icon]="['fas', 'coins']"
                    class="text-yellow-500 mr-3"
                  ></fa-icon>
                  <span class="text-lg">
                    Se agrega funcionalidad para agregar centavos a sueldo.
                  </span>
                </li>
                <li class="flex items-start">
                  <fa-icon
                    [icon]="['fas', 'calendar-alt']"
                    class="text-blue-500 mr-3"
                  ></fa-icon>
                  <span class="text-lg">
                    Se agrega fecha de modificación al ingresar un sueldo.
                  </span>
                </li>
                <li class="flex items-start">
                  <fa-icon
                    [icon]="['fas', 'calculator']"
                    class="text-purple-500 mr-3"
                  ></fa-icon>
                  <span class="text-lg">
                    Se pueden agregar decimales a gastos.
                  </span>
                </li>
                <li class="flex items-start">
                  <fa-icon
                    [icon]="['fas', 'file-invoice-dollar']"
                    class="text-blue-500 mr-3"
                  ></fa-icon>
                  <span class="text-lg">
                    Se arregla formateo de números para mostrarlo en formato
                    es-AR.
                  </span>
                </li>
                <li class="flex items-start">
                  <fa-icon
                    [icon]="['fas', 'desktop']"
                    class="text-green-500 mr-3"
                  ></fa-icon>
                  <span class="text-lg">
                    Se agrega la nueva pantalla de "Novedades".
                  </span>
                </li>
              </ul>

              <div class="mt-10 border-t border-gray-200 pt-6">
                <h3 class="text-2xl font-semibold text-blue-500 mb-4">
                  <fa-icon
                    [icon]="['fas', 'chart-line']"
                    class="text-blue-500 mr-2"
                  ></fa-icon>
                  Mejoras visuales y rendimiento:
                </h3>
                <p class="text-lg text-gray-600">
                  Se optimizó la experiencia de usuario con mejoras en la
                  interfaz y tiempos de carga más rápidos.
                </p>
              </div>

              <div class="mt-10 border-t border-gray-200 pt-6">
                <h3 class="text-2xl font-semibold text-blue-500 mb-4">
                  <fa-icon
                    [icon]="['fas', 'tools']"
                    class="text-blue-500 mr-2"
                  ></fa-icon>
                  Próximas actualizaciones:
                </h3>
                <p class="text-lg text-gray-600">
                  Trabajando en nuevas funcionalidades para mejorar la
                  experiencia. ¡Mantente atento para más novedades! 😊
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
