<div
  class="fixed inset-0 bg-black bg-opacity-50 z-40 flex items-center justify-center"
>
  <!-- Modal Content -->
  <div class="bg-white rounded-lg shadow-xl w-full max-w-md p-6 space-y-6">
    <!-- Modal Header -->
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold text-gray-800">
        <fa-icon
          [icon]="['fas', 'wallet']"
          class="text-blue-500 mr-2"
        ></fa-icon>
        Ingresar Sueldo/s
      </h2>
      <button (click)="closeModal()" class="text-gray-500 hover:text-red-500">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </div>

    <!-- Inputs de sueldos dinámicos -->
    <div class="space-y-2">
      <div
        class="relative flex items-center justify-center text-gray-800 text-5xl font-medium bg-white shadow-sm p-3 rounded-md w-11/12 mx-auto"
        *ngFor="let salary of salaries; let i = index; trackBy: trackByIndex"
      >
        <input
          type="text"
          [(ngModel)]="salaries[i]"
          name="salary{{ i }}"
          class="bg-transparent border-none outline-none text-center w-full max-w-sm h-12 appearance-none"
          placeholder="$0"
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="14"
          (input)="updateSalaries(i, $event); preventDollarRemoval($event)"
          aria-label="Ingresar sueldo"
          style="-moz-appearance: textfield; margin-bottom: 8px"
        />
      </div>
      <div class="flex justify-center mt-4">
        <button
          (click)="addSalary()"
          class="flex items-center justify-center text-blue-500 hover:text-blue-600 transition"
        >
          <fa-icon [icon]="['fas', 'plus-circle']" class="mr-2"></fa-icon>
          Agregar sueldo
        </button>
      </div>
    </div>

    <!-- Display Current Available Salary -->
    <div class="text-center text-gray-500">
      <span class="text-lg text-green-500">
        ≈ {{ totalSalaryInDollars | number : "1.2-2" }} USD
      </span>
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-end space-x-2 mt-4">
      <button
        (click)="closeModal()"
        class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 transition"
      >
        Cancelar
      </button>
      <button
        (click)="saveSalary()"
        class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
